<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <form id="combination-charts" @submit.prevent="validate()">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1 v-if="!isEdit && !isExerciseEdit">FFTP Add Challenges</h1>
                                        <h1 v-if="isEdit && !isExerciseEdit">FFTP Update Challenges</h1>
                                        <h1 v-if="isEdit && isExerciseEdit">Update Exercise</h1>
                                        <div class="row" v-if="!isExerciseEdit">

                                            <div class="col-md-6 col-sm-12">
                                                <div class="admin-top-red-nav">
                                                    <ul>
                                                        <li><input type="radio" class="d-none" value="East" id="path-east" v-model="challenge.path"><label for="path-east">East Path</label></li>
                                                        <li><input type="radio" class="d-none" value="West" id="path-west" v-model="challenge.path"><label for="path-west">West Path</label></li>
                                                        <li><input type="radio" class="d-none" value="North" id="path-north" v-model="challenge.path"><label for="path-north">North Path</label></li>
                                                        <li><input type="radio" class="d-none" value="South" id="path-south" v-model="challenge.path"><label for="path-south">South Path</label></li>
                                                    </ul>
                                                </div><!--admin top red nav-->
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 mt-2">
                                                <router-link :to="{name: 'fit_to_path.create'}" class="green-btn-project2">Set level points</router-link>
                                                <router-link :to="{name: 'settings'}" class="fit-setting-a">
                                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                                </router-link>
                                            </div>
                                        </div>
                                        <div class="admin-top-blue-nav">
                                            <ul v-if="!isExerciseEdit">
                                                <li><input type="radio" class="d-none" value="Level 1" id="level1" v-model="challenge.level"><label for="level1">Level 1</label></li>
                                                <li><input type="radio" class="d-none" value="Level 2" id="level2" v-model="challenge.level"><label for="level2">Level 2</label></li>
                                                <li><input type="radio" class="d-none" value="Level 3" id="level3" v-model="challenge.level"><label for="level3">Level 3</label></li>
                                                <li><input type="radio" class="d-none" value="Level 4" id="level4" v-model="challenge.level"><label for="level4">Level 4</label></li>
                                                <li><input type="radio" class="d-none" value="Level 5" id="level5" v-model="challenge.level"><label for="level5">Level 5</label></li>
                                                <li><input type="radio" class="d-none" value="Level 6" id="level6" v-model="challenge.level"><label for="level6">Level 6</label></li>
                                                <li><input type="radio" class="d-none" value="Level 7" id="level7" v-model="challenge.level"><label for="level7">Level 7</label></li>
                                                <li><input type="radio" class="d-none" value="Level 8" id="level8" v-model="challenge.level"><label for="level8">Level 8</label></li>
                                                <li><input type="radio" class="d-none" value="Level 9" id="level9" v-model="challenge.level"><label for="level9">Level 9</label></li>
                                                <li><input type="radio" class="d-none" value="Level 10" id="level10" v-model="challenge.level"><label for="level10">Level 10</label></li>
                                            </ul>
                                        </div><!--admin top blue nav en d-->
                                        <div class="clearfix"></div>
                                        <div class="row" v-if="!isExerciseEdit">
                                            <div class="col-lg-2 col-md-2 col-sm-12">
<!--                                                <input type="file" v-validate="{'required' : challenge.id? false: true}" name="image" id="challenge-image" class="d-none" ref="challengeImage" accept="image/*" @change="readURL()">-->
<!--                                                <label for="challenge-image" class="upload-admin-img">-->
<!--                                                    <img :src="isEdit? profileImage(challenge.image, null, isEdit): challenge.image" class="img-fluid" :alt="challenge.title"/>-->
<!--                                                </label>-->
                                                <cropper
                                                    :src="challenge.image? challenge.image: `${base_url}/images/upload-img.jpg`"
                                                    @imageChanged="imageChanged($event)"
                                                ></cropper>
                                                <span>{{ errors.first('image') }}</span>
                                            </div><!--col end-->
                                            <div class="col-lg-10 col-md-10 col-sm-12">
                                                <div class="admin-add-user-main pt-0">
                                                    <h3 v-if="!isEdit && !isExerciseEdit">New FTFP Challenge </h3>
                                                    <h3 v-if="isEdit && !isExerciseEdit">Update FTFP Challenge </h3>
                                                    <h3 v-if="isEdit && isExerciseEdit">Update Exercise </h3>

                                                    <div class="mb-2">
                                                        <label for="challenge-title">Challenge Title :</label>
                                                        <input type="text" v-validate="'required'" name="title" class="admin-chlng-fit-top-input" v-model="challenge.title" id="challenge-title"/>
                                                        <span>{{ errors.first('title') }}</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="challenge-reward-points">Reward Points: </label>
                                                        <input type="number" min="1" v-validate="'required|numeric|max_value:1000'" v-model="challenge.reward_points" name="points" class="admin-chlng-fit-top-input" id="challenge-reward-points" />
                                                        <span>{{ errors.first('points') }}</span>
                                                    </div>
                                                    <!--<div class="mb-2">
                                                        <label for="challenge-description">Description:</label>
                                                        <textarea class="admin-chlng-fit-top-txtara" v-model="challenge.description" id="challenge-description"></textarea>
                                                    </div>-->
                                                </div>
                                            </div><!--col end-->
                                        </div><!--row end-->
                                        <div class="row" v-for="(exercise,index) in challenge.exercises" v-bind:key="index" v-if="isExerciseEdit && exercise.id === editExerciseId || !isExerciseEdit">
                                            <div class="col-lg-2 col-md-2 col-sm-12" v-if="isExerciseEdit && exercise.id === editExerciseId || !isExerciseEdit">
<!--                                                <input type="file" v-validate="{'required' : challenge.id? false: true, 'image': true}" :name="`exercise${index}-image`" :ref="`exerciseImage${index}`" accept="image/*" @change="readURL(index)" :id="`exercise${index}-image`" class="d-none">-->
<!--                                                <label :for="`exercise${index}-image`" class="upload-admin-img">-->
<!--                                                    <img :src="isEdit? profileImage(exercise.image): exercise.image" class="img-fluid" :alt="exercise.title"/>-->
<!--                                                </label>-->
                                                <cropper
                                                    :el-idx="index"
                                                    :src="exercise.image? exercise.image: `${base_url}/images/upload-img.jpg`"
                                                    @imageChanged="imageChanged($event, index)"
                                                ></cropper>
                                                <span>{{ getError(errors.first(`exercise${index}-image`)) }}</span>
                                            </div><!--col end-->
                                            <div class="col-lg-10 col-md-10 col-sm-12">
                                                <div class="admin-add-user-main pt-0">
                                                    <h3>Exercise Details:
                                                        <button v-if="challenge.exercises.length > 1 && !isExerciseEdit" type="button" @click="removeExercise(index)" class="btn btn-outline-danger float-right">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </h3>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="mb-2">
                                                                <label :for="`exercise${index}-title`">Exercise Title :</label>
                                                                <input type="text" v-validate="'required'" :name="`exercise${index}-title`" v-model="exercise.title" class="admin-chlng-fit-top-input" :id="`exercise${index}-title`" />
                                                                <span>{{ getError(errors.first(`exercise${index}-title`)) }}</span>
                                                            </div>
                                                            <div class="mb-2">
                                                                <label :for="`exercise${index}-sets`">Sets :</label>
                                                                <input type="number" min="1" v-validate="'required|numeric'" :name="`exercise${index}-sets`" class="admin-chlng-fit-top-input" v-model="exercise.sets" :id="`exercise${index}-sets`"/>
                                                                <span>{{ getError(errors.first(`exercise${index}-sets`)) }}</span>
                                                            </div>
                                                            <div class="mb-2">
                                                                <label :for="`exercise${index}-repeats`">Repeats :</label>
                                                                <input type="number" min="1" v-validate="'required'" :name="`exercise${index}-repeats`" class="admin-chlng-fit-top-input" v-model="exercise.repeat" :id="`exercise${index}-repeats`"/>
                                                                <span>
                                                                    {{ getError(errors.first(`exercise${index}-repeats`)) }}
                                                                </span>
                                                            </div>
                                                            <div class="mb-2">
                                                                <label :for="`exercise${index}-category`">Category :</label>
                                                                <select v-validate="'required'" :name="`exercise${index}-category`" class="admin-chlng-fit-top-input" v-model="exercise.category_id" :id="`exercise${index}-category`">
                                                                    <option v-for="(category, catIndex) in categories" :key="category.id" :value="category.id">{{ category.title }}</option>
                                                                </select>
                                                                <span>{{ getError(errors.first(`exercise${index}-category`)) }}</span>
                                                            </div>
                                                        </div><!--col end-->
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="mb-2">
                                                                <label>Description:</label>
                                                                <textarea class="admin-chlng-fit-top-txtara2"></textarea>
                                                            </div>
                                                        </div><!--col end-->

                                                    </div><!--row end-->
                                                </div>
                                            </div><!--col end-->
                                        </div><!--row end-->
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                            <div class="col-lg-10 col-md-10 col-sm-12">
                                                <div class="admin-add-user-main pt-0">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-12" v-if="!isExerciseEdit">
                                                            <button class="fftp-add-more-btn" type="button" @click.prevent="addExercise">
                                                                <i class="fa fa-plus-circle"></i> Add more exercise
                                                            </button>
                                                        </div><!--col end-->
                                                        <div class="col-lg-6 col-md-12">
                                                        </div><!--col end-->
                                                    </div><!--row end-->
                                                    <button type="submit" class="cnt-btnn2" v-if="!isEdit && !isExerciseEdit">Create Challenge</button>
                                                    <button type="submit" class="cnt-btnn2" v-if="isEdit && !isExerciseEdit">Update Challenge</button>
                                                    <button type="submit" class="cnt-btnn2" v-if="isEdit && isExerciseEdit">Update Exercise</button>
                                                </div>
                                            </div><!--col end-->
                                        </div><!--row end-->
                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Cropper from '../../../compoments/CropperComponent';
    export default {
        components: {
            Cropper
        },
        data(){
            return {
                base_url: window.base_url,
                isLoading: false,
                myFiles: [],
                isEdit: false,
                isExerciseEdit: false,
                editExerciseId: false,
                challenge: {
                    level: 'Level 1',
                    path: 'East',
                    title: '',
                    reward_points: '',
                    description: '',
                    image: `${window.base_url}/images/upload-img_03.jpg`,
                    exercises: [{
                        title: '',
                        description: '',
                        sets: '',
                        repeat: '',
                        category: '',
                        image: `${window.base_url}/images/upload-img_03.jpg`
                    }]
                },
                categories: []
            }
        },
        mounted() {
            this.isEdit = !! this.$route.params.id;
            this.isExerciseEdit = this.$route.params.exerciseId !== undefined;
            this.editExerciseId = Number(this.$route.params.exerciseId);
            this.getExercise(this.$route.params.id);
            this.loadCategories();
        },
        methods: {
            loadCategories(){
                this.isLoading = true;
                axios.get(`/categories`)
                    .then(data => {
                        this.categories = data.data;
                        this.isLoading = false;
                    });
            },
            getExercise(id){
                if(! this.isEdit)
                    return;

                this.isLoading = true;
                axios.get(`/challenges/${id}`)
                    .then(data => {
                        this.challenge = data.data;
                        this.isLoading = false;
                    });
            },
            addExercise() {
                this.challenge.exercises.push({
                    title: '',
                    description: '',
                    sets: '',
                    repeat: '',
                    category: '',
                    image: `${window.base_url}/images/upload-img_03.jpg`
                });
            },
            readURL(index = -1) {
                let file;
                // if index is < 0 then it is challenge image
                if(index < 0)
                   file = this.$refs.challengeImage.files[0];
                else
                   file = this.$refs[`exerciseImage${index}`][0].files[0];

                if (file) {
                    var reader = new FileReader();
                    reader.onload = e => {
                        if(index < 0)
                            this.challenge.image = e.target.result;
                        else
                            this.challenge.exercises[index].image = e.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            },
            removeExercise(index){
                if (confirm("Do you want to remove this exercise"))
                    this.challenge.exercises.splice(index, 1);
            },
            getError(message){
                return message?message.replace(/[0-9]\-/,' '): '';
            },
            validate(){
                // axios.post('/api/challenges2', this.challenge)
                // .then(data => {
                //     this.isLoading = false;
                //     this.$toastr.success('Challenge Created', 'Success', {});
                //     // this.$router.push({ name: 'challenges.index' });
                // }).catch(e => this.isLoading = false);
                // return;
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;
                    this.save();
                });
            },
            save(){
                this.isLoading = true;

                if(this.isEdit)
                    this.edit();
                else
                    this.insert();

            },
            insert(){
                axios.post('/challenges', this.challenge)
                    .then(data => {
                        this.isLoading = false;
                        this.$toastr.success('Challenge Created', 'Success', {});
                        this.$router.push({ name: 'challenges.index' });
                    }).catch(e => this.isLoading = false);
            },
            edit(){
                axios.put(`/challenges/${this.challenge.id}`, this.challenge)
                    .then(data => {
                        this.isLoading = false;
                        this.$toastr.success('Challenge Created', 'Success', {});
                        // this.$router.push({ name: 'challenges.index' });
                    }).catch(e => this.isLoading = false);
            },
            imageChanged(data, index=-1){
                if(index >= 0)
                    this.challenge.exercises[index].image = data;
                else
                    this.challenge.image = data;
            }
        }
    }
</script>
