<template>
    <div class="cropper-image-container">
        <img :src="image" :ref="`img${elIdx}`" :id="`personal_img${elIdx}`" class="img-fluid" style="min-width: 100%;">
        <label :for="`upload${elIdx}`" style="margin-top: 0;" class="uplrd-img-btn">
            <i class="fa fa-camera" aria-hidden="true"></i>
        </label>
        <button type="button" @click="crop" class="btn btn-round" style="display: none;"><i class="fa fa-check"></i></button>
        <input type="file" accept="image/*" @change="readURL()" :ref="`imageInput${elIdx}`" :id="`upload${elIdx}`" :name="`personal_img${elIdx}`" class="d-none">
    </div>
</template>

<script>
    import Cropper from 'cropperjs'
    export default {
        props: {
            'src' : {
                type: String,
                default: ""
            },
            'elIdx': {
                type: [String, Number],
                default: ""
            }
        },
        data: function(){
            return{
                image:"",
                cropper: null
            };
        },
        created: function () {
            this.image = this.src;
        },
        mounted(){
        },
        methods: {
            crop: function(){
                this.image = this.cropper.getCroppedCanvas({ maxWidth: 800, maxHeight: 800 }).toDataURL();
                this.cropper.destroy();
                this.$emit('imageChanged', this.image);
            },
            readURL() {
                let file = this.$refs[`imageInput${this.elIdx}`].files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = e => {
                        this.image = e.target.result;
                        setTimeout(() => {
                            this.cropper = new Cropper(this.$refs[`img${this.elIdx}`], {
                                aspectRatio: 1,
                                viewMode: 1,
                                /*crop(event) {
                                    console.log(event.detail.x);
                                    console.log(event.detail.y);
                                    /!*console.log(event.detail.width);
                                    console.log(event.detail.height);
                                    console.log(event.detail.rotate);
                                    console.log(event.detail.scaleX);
                                    console.log(event.detail.scaleY);*!/
                                },*/
                            });

                        }, 10)
                    };
                    reader.readAsDataURL(file);
                    // const image = document.getElementById('personal_img');
                }
            },

        },
        watch: {
            'src' () {
                this.image = this.src;
            }
        }
    }
</script>

<style>
    .cropper-image-container{
        position: relative;
    }
    .cropper-container img {
        border-radius: 0;
    }
    .cropper-container.cropper-bg+label {
        display: none;
    }
    .cropper-container.cropper-bg+label+button {
        display: inline-block !important;
    }
</style>
