<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">

                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>Home</h1>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="employ-top-boxs">
                                                            <div class="inner">
                                                                <span>Users</span>
                                                                <h5>{{ data.total_users }}</h5>
                                                            </div>
                                                        </div>
                                                    </div><!--col end-->
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="employ-top-boxs">
                                                            <div class="inner">
                                                                <span>Active Challenge</span>
                                                                <h5>{{ data.active_challenges }}</h5>
                                                            </div>
                                                        </div>
                                                    </div><!--col end-->
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="employ-top-boxs d-none">
                                                            <div class="inner">
                                                                <span>Income</span>
                                                                <h5>${{ data.income }}</h5>
                                                            </div>
                                                            <img :src="`${base_url}/images/Admin-Homescreen_03.png`" alt="" />
                                                        </div>
                                                    </div><!--col end-->
                                                </div><!--row end-->
                                                <div class="row align-items-center pt-5 pb-5 d-none">
                                                    <div class="col-md-6">
                                                        <span class="emply-chanlng-span">Users</span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" v-model="selectedYear">
                                                            <option v-for="year in data.available_years" :value="year">{{year}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div id="column-hello" class="height-400 echart-container">
                                                            <v-chart :options="polar"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12"><span class="emply-chanlng-span">Months</span></div>
                                                </div><!--table end-->
                                            </div><!--left col end-->
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <h3 class="emply-chanlng-span text-left mt-0">Recently Added Users</h3>
                                                <div class="chalng-members-box box-shadow-1" v-for="user in data.recent_users" @key="user.id">
                                                    <img :src="user.image" :alt="user.name">
                                                    <div class="flex-column">
                                                        <p v-text="user.name"></p>
                                                        <span>Points: {{ user.state.points }}</span>
                                                    </div>
                                                </div><!--chalng number end-->
                                            </div>
                                        </div><!--main row end-->
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12"><h3 class="emply-chanlng-span text-left">Leadboard </h3></div>
                                            <div class="col-md-3 col-sm-12 dataTables_wrapper mr-1">
                                                <div class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-4 col-md-12 col-sm-12"  v-for="user in data.lead_boards">
                                                <div class="chalng-members-box box-shadow-1">
                                                    <img :src="user.image" :alt="user.name">
                                                    <div class="flex-column">
                                                        <p v-text="user.name"></p>
                                                        <span>Points: {{ user.state.points }}</span>
                                                    </div>
                                                    <h5 class="postion-h5">1 <i>st</i></h5>
                                                </div>
                                            </div><!--col end-->
                                        </div><!--row end-->

                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import ECharts from 'vue-echarts'
    import 'echarts/lib/chart/bar'

    export default {
        components: {
            'v-chart': ECharts
        },
        data(){

            return {
                selectedYear: (new Date()).getFullYear(),
                base_url: window.base_url,
                isLoading: true,
                data: {available_years:[]},
                polar: {
                    grid: {
                        x: 60,
                        x2: 60,
                        y: 45,
                        y2: 25
                    },

                    // Add tooltip
                    tooltip: {
                        trigger: 'axis'
                    },

                    // Add legend
                    // Add custom colors
                    //color: ['#f63549', '#000000', '#f63549'],
                    color: ['#f63549', '#000000', '#f63549'],

                    // Enable drag recalculate
                    calculable: true,

                    // Horizontal axis
                    xAxis: [{
                        type: 'category',
                        data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                    }],

                    // Vertical axis
                    yAxis: [
                        {
                            type: 'value',
                            name: 'Users',
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                        /*{
                            type: 'value',
                            name: 'Temperature',
                            axisLabel: {
                                formatter: '{value} °C'
                            }
                        }*/
                    ],

                    // Add series
                    series: [
                        // {
                        //     name: 'Evaporation',
                        //     type: 'bar',
                        //     data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
                        // },
                        {
                            name: 'Precipitation',
                            type: 'bar',
                            data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
                        },
                    ],
                    animationDuration: 2000
                }
            }
        },
        mounted() {
            axios.get('/')
                .then(data => {
                    this.data = data.data;
                    this.polar.series = [];
                    this.polar.series.push({
                        name: 'Precipitation',
                        type: 'bar',
                        data: data.data.users_chart_data
                    });
                    this.isLoading = false;
                })
                .catch(error => this.isLoading = false)
        },
        methods: {
            loadUserChartData(){
                this.polar.series = [];
                this.polar.series.push({
                    name: 'Precipitation',
                    type: 'bar',
                    data: data.data.users_chart_data
                })
            }
        },
        watch: {
            'selectedYear' (){
                this.loadUserChartData();
            }
        }
    }
</script>

<style>
    .echarts {
        width: 100%;
        /*height: 250px;*/
        height: 100%;
    }
</style>
