<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts" v-if="!isLoading">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>Page Not Found!</h1>
                                        <router-link :to="{ name: 'home' }">
                                            Go back to home
                                        </router-link>
                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                isLoading: true
            }
        },
        mounted() {
            this.isLoading = false;
            if(this.$route.path.indexOf('favicon.ico') >= 0) this.$router.push({'name': 'home'})
        }
    }
</script>