<template>

    <div class="app-content content">
        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>
        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h1>All Feedbacks</h1>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="maain-tabble table-responsive">
                                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <table-length @lengthChanged="per_page = $event"></table-length>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                            <label>Search:
                                                                <input type="search" @input="loadFeedback" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                                            <thead>
                                                            <!--<th v-for="column in columns" :key="column.name" @click="sortBy(column.name)"
                                                                :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                                                                style="width: 40%; cursor:pointer;">
                                                                {{column.label}}
                                                            </th>-->
                                                            <tr>
                                                                <th>SN.o</th>
                                                                <th>User</th>
                                                                <th>Email</th>
                                                                <th>Message</th>
                                                                <th>Created Time</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr v-for="(feedback,index) in feedbacks.data"  :key="feedback.id">
                                                                    <td>{{ feedback.id }}</td>
                                                                    <td>{{ feedback.owner.name }}</td>
                                                                    <td>{{ feedback.email }}</td>
                                                                    <td>{{ feedback.message }}</td>
                                                                    <td>{{ feedback.created_at }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info" v-if="feedbacks && feedbacks.meta && feedbacks.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ feedbacks.meta.from }} to {{ feedbacks.meta.to }} of {{ feedbacks.meta.total }} entries</div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                            <pagination :data="feedbacks" @pagination-change-page="loadFeedback">
                                                                <span slot="prev-nav">&lt; Previous</span>
                                                                <span slot="next-nav">Next &gt;</span>
                                                            </pagination>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url,
                isLoading: true,
                feedbacks: {},
                per_page: 10,
                search_term: '',
            }
        },
        mounted() {
            this.loadFeedback(1);
        },
        methods: {
            loadFeedback(page = 1){
                axios.get(`/feedback?page=${page}&per_page=${this.per_page}&search_term=${this.search_term}`)
                    .then(data => {
                        this.feedbacks = data.data;
                        this.isLoading = false;
                    });
            }
        },
        watch: {
            'per_page' () {
                this.loadFeedback()
            }
        }
    }
</script>
