/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
body{
	font-family: 'Khand', sans-serif !important;
	/*background:#fff !important;*/
}
a {
    color: #df1418;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-header {
    float: left;
    width: 240px;
	background: #fffff;
}
.loading{
	background: #363636 !important;
}
html body .pace .pace-progress {
    background: #363636;
}
li.dropdown.dropdown-notification.nav-item {
    margin-top: 5px;
}
.nav-link:hover{
	color:#ccc !important;
}
.header-navbar .nav-item + .nav-item {
    display: contents;
}
ul.nav.navbar-nav.float-right {
    margin-top: 25px;
}
body.vertical-layout.vertical-menu .navbar .navbar-brand {
    /* white-space: nowrap; */
    /* margin-top: 0px; */
    display: block;
    margin: 0px auto;
}
.navbar-nav {
    padding: 10px 0px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Khand', sans-serif !important;
}
.header-navbar.navbar-border {
    border-bottom:none !important;
}
html body.bg-full-screen-image {
    background: url(../../images/bg.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
}
h1{
	color: #ee2c48;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: 500;
	font-family: 'Khand', sans-serif !important;
}
.ps-scrollbar-y-rail+ .menu-title{
	background: #e3b95e !important;
}
.navigation {
  font-family: 'Khand', sans-serif !important;
}
.rounded {
    border-radius: 10px !important;
}
.main-menu .main-menu-content {
    height: 100%;
    position: relative;
}
/*
.main-menu ul.navigation-main {
    margin-top: 20px;
}
*/
.card{
	background:#ffffff;
}
.navbar-light .navbar-nav .nav-link {
    color: #666666 !important;
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
    padding: 0;
}
.main-menu.menu-light {
    color: #ffff !important;
    background: #293492 !important;
    border-right: 1px solid #293492;
}
.main-menu.menu-light .navigation {
    background: #293492;
}
.logn-form .has-icon-left .form-control {
    padding-right: 1rem;
    padding-left: calc(2.75rem + 2px);
    border-radius: 25px;
	padding-top: 13px;
    padding-bottom: 13px;
}
.logn-form .has-icon-left .form-control-position {
    right: auto;
    left: inherit;
    margin-left: 5px;
	margin-top:2px;
	    color: #999;
}
.logn-form .form-control {
    border: 1px solid #e1e1e1;
    color: #3f587e;
}
.logn-form  .card-link{
	color:#4485c6;
	font-size:14px !important;
	text-decoration:underline;
}
.logn-form form label {
    color: #999999 !important;
}
.rad{
	border-radius:10px !important;
}

.logn-form .btn-outline-primary {
    border-color: #ee2c48;
    background-color:#ee2c48;
    color: #fff;
	border-radius:25px;
	padding:12px 0px 12px 0px;
	font-weight:500;
	font-size:20px;
	text-transform:uppercase;
	margin-bottom: 20px;
}
.logn-form .btn-outline-primary:hover {
    border-color: #eb1f23;
    background-color:#fff;
    color: #eb1f23 !important;
}
.logn-form .text-muted span {
	color:#999999 !important;
	font-size:15px !important;
}
.logn-form .btn-outline-danger {
   border-color: #293492;
    background-color:#fff !important;
    color: #293492;
	border-radius:25px;
	padding:12px 0px 12px 0px;
	font-weight:500;
	font-size:20px;
	text-transform:uppercase;
}
.tab-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: -5px 5px -5px 0;
}
.logn-form .btn-outline-danger:hover {
   border-color: #293492;
    background-color:#293492 !important;
    color: #fff;
}
.header-navbar {
    padding: 0px;
    min-height: auto !important;
   font-family: 'Roboto', sans-serif;
    transition: 300ms ease all;
	background: #fff !important;
}
.header-navbar .navbar-header {
    height: auto !important;
}
.header-navbar .navbar-header .navbar-brand {
    padding: 0px 0px;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
 padding: 0px; 
}
body.vertical-layout.vertical-menu .navbar .navbar-brand {
    white-space: nowrap;
    margin-top: 0px;
}
.main-menu.menu-fixed {
    position: fixed;
    height: 100%;
       top: 7.4rem;
    height: calc(100% - 4rem);
}
html body .content .content-wrapper {
    padding: 7.5rem 1.8rem 1.8rem 1.8rem;
}
.main-menu.menu-light .navigation > li.hover > a, .main-menu.menu-light .navigation > li:hover > a, .main-menu.menu-light .navigation > li.active > a {
    color: #fff;
    background: #ee2c48 !important;
}
.badge-danger {
    background-color: #363636;
	color: #fff;
}
.main-menu.menu-light .navigation li a {
    color: #fff;
	text-transform:uppercase;
	font-size:16px;
	font-weight:400 !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	line-height: 18px;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 15px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out;
}
.main-menu.menu-light .navigation > li.open > a {
    color: #2c3648;
    background: #ee2c48;
    color: white;
}
.badge-warning {
    background-color: #ee2c48;
}
.header-navbar .navbar-container ul.nav li a.nav-link-label {
    padding: 0.4rem 0rem 1rem 0.8rem;
}
.main-menu.menu-light .navigation > li ul li > a {
    padding: 4px 0 4px 65px !important;
	color: #f5a6a6;
}
.main-menu.menu-light .navigation > li.open {
    border-left: none;
}
.main-menu.menu-light .navigation > li > ul {
    background: #ee2c48;
}
.main-menu.menu-light .navigation > li.open .hover > a {
    color: #fff;
    background: transparent;
  
}
.main-menu.menu-light .navigation > li ul li > a:hover {
    padding: 10px 18px 10px 50px;
}
.main-menu.menu-light .navigation > li > a i {
    position: relative;
    top: 0px;
}
.main-menu.menu-light .navigation > li {
    padding: 0;
    border-left: 0px;
}
.main-menu.menu-light .navigation > li > a i {
    position: relative;
    top: 0px;
    width: 20px;

}
.twt-card i {
	color:#40a1f1 !important;
}
.insta-card i{
	color:#f1bf53 !important;
}
.gplus-card i {
 	color:#ef6f43 !important;
}
.profile-frm{}

.profile-frm .btn-primary {
    border-color: #b70f1b !important;
    background-color: #b70f1b !important;
    color: #FFFFFF;
	font-size:15px !important;
	border-radius:25px;
	padding:15px 30px;
}
.profile-frm h1{
	color:#095b88;
	font-size:26px;
	font-weight:400;
	text-transform: uppercase;
	margin:0 0 15px 0;
	
}
.profile-frm h1 i{
	color:#4485c6;
	padding:0 10px 0 0;
}
.edit-bttn{
	color:#666666;
	font-size:15px;
	float:right;
	margin:10px 0 0 0;
}
.edit-bttn i{
	padding:0 5px 0 0px;
}
form .form-actions {
    border-top: transparent;
    padding: 20px 0;
    margin-top: 20px;
}
.chat-application .chats .chat-body .chat-content {
    text-align: right;
    position: relative;
    display: block;
    float: right;
    padding: 8px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #007ab8 !important;
    border-radius: 4px;
}
.chat-application .chats .chat-left .chat-content {
    background-color: #edeef0 !important;
}
.chat-application .chats .chat-body .chat-content:before {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-left-color: #007ab8 ;
}
.badge-primary {
    background-color: #007ab8;
}
.chat-application .primary {
    color: #007ab8 !important;
}
.chat-application .btn-primary {
       border-color: #007ab8 !important;
    background-color: #007ab8 !important;
    color: #FFFFFF;
}
.pro-main{
	width:100% !important;
	padding:20px !important;
}
.pro-inner-row{
	width:100%;
	border-bottom:1px solid #f5f5f5;
	padding:10px 0px;
}
.pro-inner-row.nobord{
	border-bottom:none !important;
}
.pro-editt{
	color: #095b88;
	font-size: 18px;
}
.pro-inner-row label{
	display:block;
	margin:0px !important;
	padding:0px 0px 3px 0px !important;
	color:#999999 !important;
	font-size:13px !important;
	font-family: 'Roboto', sans-serif;
}
.pro-inner-row label i{
	font-size:16px !important;
	width:20px !important;
}
.pro-inner-row p{
	margin:0px !important;
	padding:0px !important;
	color:#333333 !important;
	font-size:15px !important;
	font-family: 'Roboto', sans-serif;
}
.pro-img-main{
	position:relative;
	margin-top:15px;
}
.pro-img-main button{
	border-radius: 50px;
    border: none;
    background:#4485c6;
    color: white;
    padding:10px 12px;
	position:absolute;
	right:15px;
	bottom:15px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.pro-img-main img{
	width:100%;
	border:10px solid #fff;
	-webkit-box-shadow: 1px 1px 10px 1px #eee;
    box-shadow: 1px 1px 10px 1px #eee;
}
#upload {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}
.custm-id{
	float:right;
}
.custm-id p{
	margin:0px !important;
	padding:0px !important;
	color:#cccccc !important;
	font-size:14px !important;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
.custm-id span{
	margin:0px !important;
	padding:5px 10px !important;
	color:#fff !important;
	font-size:14px !important;
	font-weight:400;
	border-radius:25px;
	background:#65af38;
	float:right;
	font-family: 'Roboto', sans-serif;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
    border-top:  none !important;
    color: #000000 !important;
	text-transform:uppercase;
/*
	padding-top:20px;
	padding-bottom:20px;
*/
}
.table-bordered th, .table-bordered td {
    border: transparent;
}
.table-bordered {
    border: none;
}
.tr-spacer
{
  height: 20px;
background:trasparent !important;
}
.rejii-span{
	color:#fb2a2a !important;
}
.aprov-span{
	color:#11ce58 !important;
}
.view-reason{
	background:#b70f1b;
	color:#fff !important;
	padding:5px;
	font-size:10px;
	margin:0px 0 0 0 !important;
	position:relative;
	top:-1px;
	left:10px;
	border:none;
	cursor:pointer;
}
.view-reason:before {
	position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    right: auto;
    left: -10px;
    border-right-color: #b70f1b;
    border-left-color: transparent;
}
.gen-invoice{
	background:#4485c6;
	color:#fff !important;
	padding:5px;
	font-size:10px;
	margin:0px 0 0 0 !important;
	display:inline-block;
	position:relative;
	top:-1px;
	left:10px;
	border:none;
	cursor:pointer;
}
.gen-invoice:before {
   position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    right: auto;
    left: -10px;
    border-right-color: #4485c6;
    border-left-color: transparent;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ee2c48;
    border-color: #ee2c48;
}
.regi-modal{
}
.regi-modal ul{
	margin-left:60px !important;
}
.regi-modal h2{
		color:#fb2a2a !important;
}
.regi-modal a{
	background:#fb2a2a !important;
}
.table-com-a{
	color:#000 !important;
}
.pdf-modall {
    max-width: 1000px !important;
}
.pdf-open-a{
	padding:0px !important;
	margin:-5px 0 !important;
}
.pdf-open-a img{
	margin:0 5px 0 0;
	float:left;
}
.pdf-text-span1{
	color:#333333;
	font-size:10px;
}
.pdf-text-span2{
	color:#999999;
	font-size:11px;
	display:block;
}
.admin-overview-main{
	padding:20px;
	box-sizing:border-box;
}
.admin-overview-main h2{
	font-size:16px;
	font-weight:400;
	color:#666666;
	margin:0px !important;
	padding:0 0 15px 0 !important;
}

.admin-overview-main .right-h2{
	color:#333333;
	font-weight:500;
	margin:0px !important;
	padding:0 0 15px 0 !important;
	text-transform: uppercase;
	font-size: 20px;
}
.admin-formmm{
	padding:20px;
	box-sizing:border-box;
}
.admin-formmm p{
	color:#999999 !important;
	font-size:16px !important;
	padding-top:10px !important;
}
.admin-formmm a{
	color:#4485c6 !important;
}
.admin-formmm input{
	margin-bottom:20px !important;
	display:block;
}
.admin-formmm textarea{
	resize:none;
	height:120px;
		margin-bottom:20px !important;
}
.admin-formmm label{
	font-weight:600 !important;
	color:#333333 !important;
}
.admin-formmm .card-body {
	padding:0px !important;
}
.admin-formmm .btn-primary {
    border-color: #4485c6 !important;
    background-color: #4485c6 !important;
    color: #FFFFFF;
    font-size: 15px !important;
    border-radius: 25px;
    padding: 11px 50px !important;
	display:table !important;
	margin:20px auto !important;
	text-transform:uppercase;
	font-weight:700;
}
.card-header{
	background:transparent;
	padding: 0px;
}
.green-btn-project {
    float: right;
    font-size: 16px;
    color: #ffffff !important;
    font-weight: 500;
    text-decoration: none;
     text-transform: capitalize;
    padding: 10px 30px;
    background: #ee2c48;
    margin: 0px 0 10px 0 !important;
    position: relative;
	border-radius:25px; 
}
.green-btn-project i{
	margin:0 7px 0 0;
}
.green-btn-project:hover{
	background:#999;
}
.green-btn-project2 {
    float: right;
    font-size: 16px;
    color: #ffffff !important;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    background: #293492;
    margin: 0px 20px 10px 0 !important;
    position: relative;
	border-radius:25px; 
}
.green-btn-project2 i{
	margin:0 7px 0 0;
}
.green-btn-project2:hover{
	background:#999;
}
.fit-setting-a {
    float: right;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 15px;
    background: #fff;
    margin: 0px 20px 10px 0 !important;
    position: relative;
	border-radius:25px;
	border: 1px solid #ccc;
}

.fit-setting-a:hover{
	background:#ee2c48;
	color: #fff;
}
.pad-20{
	padding: 20px !important;
}
.dropdown-item i {
        padding: 2px 8px 0 0 !important;
    width: 25px;
    float: left;
}
.form-control {
    border: 1px solid #ebebeb;
    color: #3f587e;
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
table#DataTables_Table_0{
	width: 100%;
	border-spacing: 0 26px;
}
#DataTables_Table_1 {
	width: 100%;
	border-spacing: 0 26px;
}
#DataTables_Table_2 {
	width: 100%;
	border-spacing: 0 26px;
}
#DataTables_Table_3 {
	width: 100%;
	border-spacing: 0 26px;
}
.table tbody td {
    padding: 1.50rem 2rem;
}
.maain-tabble tbody tr {
	    background-color: transparent !important;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
	    border-radius: 5px;
}
.dropdown-item {
    font-size: 16px !important;
}
/*
.maain-tabble thead th::before {
	display: none !important;
}
.maain-tabble thead th::after {
	display: none !important;
}
*/
.btn-drop-table{
	font-size:22px !important;
	margin:0px !important;
	padding:0px !important;
	background:transparent !important;
	border:none !important;
	float:right;
	color:#999999 !important;
}
.dropdown-toggle::after {
	display:none;
}
tbody tr .mb-1, .my-1 {
    margin-bottom: 0px !important;
		margin-top:-2px;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.page-item:last-child .page-link {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.page-item.disabled .page-link {
    color: #ee2c48;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #c1c1c1;
}
.dataTables_length {
   margin-top: 25px;
}
.dataTables_filter {
	margin-top: 10px;
}

.dropdown-item i{
	padding:0 8px 0 0;
}
.discus-iccon{
	padding:0 5px 0 0;
	color:#666666 !important;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation > li > a > i {
    margin-right: 12px;
    width: 20px;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link:hover, .nav.nav-tabs.nav-underline .nav-item a.nav-link:focus {
    color: #fa782a;
}
.blue-center-btn{
	display:table;
	padding:13px 0px;
	border:none;
	margin:15px auto 0px auto;
	background:#b70f1b;
	border-radius:25px;
	color:#fff;
	text-transform:uppercase;
	font-size:17px;
	font-weight:500;
	cursor:pointer;
	text-decoration:none;
	width:250px;
	text-align:center;
}
.projecct-formm{}
.projecct-formm i{
	color:#666666 !important;
}
.projecct-formm label{
	color:#999999 !important;
	font-size:14px !important;
}
.form-client-right-span{
	color:#cccccc;
	font-size:13px;
	float:right;
}
.form-client-right-span button{
	color:#5da9ff;
	font-size:13px;
	border:none;
	background:transparent;
	text-decoration:underline;
}
.add-clint-modaal{
	max-width:1000px !important;
	padding:0px !important;
}
.add-clint-modaal .modal-body {
    padding: 30px !important;
}
.add-clint-modaal h2{
	color:#666666 !important;
	font-size:26px !important;
	text-transform:uppercase;
	margin-bottom:30px !important;
}
.uplon-btn{
	border:none;
	background:transparent;
}
.img-full{
	width:100%;
}
.pro-task-card{
	background:#fff;
	display:table;
	width:220px;
	padding:15px 15px 10px 15px;
	display:inline-block;
	margin-top:20px;
	    background-color: transparent !important;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.card-content.logn-form h1{
	    color: #1c1c1c;
	padding:30px 0 10px 0;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Khand', sans-serif !important;
	background: url(../../images/login-heading-line.png) no-repeat left bottom;
}
table#DataTables_Table_0 {
    width: 100%;
    border-spacing: 0 26px;
}

.cleint-profile-card p{
	color:#cccccc !important;
	font-size:15px;
	margin:5px 0 0 0 !important;
	padding:0px !important;
	float:left;
	text-transform:uppercase;
}
.cleint-profile-card h5{
	color:#666666 !important;
	font-size:45px;
	margin:0px !important;
	padding:0px !important;
	font-weight:700;
	float:right;
}
.cleint-profile-card i{
	color:#7dc245;
	font-size:36px;
	margin:7px 10px 0 0;
	float:left;
}
.cleint-profile-card:nth-child(2) i{
	color:#5190c6;
}
.cleint-profile-card:nth-child(3) i{
	color:#ee3c66;
}
.uplon-btn2{
	border:none;
	background:transparent;
	width:100%;
	padding: 0px;
}
.pro-pic-txt{
	text-align:center;
	font-size:15px !important;
	font-weight:500;
	margin-top:15px;
}
.add-clint-modaal .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
    padding-left: 37px !important;
}
.add-clint-modaal .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
    /* padding-left: 30px; */
}
.add-dept-innr{}
.add-dept-innr label{
	color:#999999 !important;
}
.up-doc {
    font-size: 18px !important;
    color: #666666;
    margin: 5px;
    background: transparent !important;
    border: none !important;
}
.camera-btn{
	width: 30px;
	height: 30px;
	background: #eb1f23;
	text-align: center;
	font-size: 14px;
	border: 1px solid #fff;
	position: absolute;
	right: 20px;
	bottom: -10px;
	border-radius:50%;
	color: #fff;
}
#upload {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}
.star-color{
	color: #d7b147;
}
.emplo-img-glr{
	width: 100%;
	margin:25px 0 20px 0;
	display: block;
}
.cntr-btnn-main {
    width: 100%;
    display: block;
    margin: 10px auto;
}
.cntr-btnn-main a, .cntr-btnn-main button {
    background: #eb1f23;
    color: #fff;
    padding: 12px 0px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px;
    border: 1px solid #eb1f23;
	min-width: 260px;
}
.cntr-btnn-main a:hover, .cntr-btnn-main button:hover {
    background: #fff;
    color: #eb1f23;
    border: 1px solid #eb1f23;
}
.testi-filed-main{
	width: 97%;
	float: right;
}
.testi-filed-icon{
	width: 3%;
	float: left;
	margin: 8px 0px 0 0;
}
.testi-rating{
	float: left;
}
.testi-rating p{
	color: #999999;
	font-size: 13px;
	margin: 20px 0 0 0;
	padding: 0px;
}
.testi-rating-result{
	color: #999999;
	font-size: 16px;
	margin: 30px 0 0 0;
	padding: 0px;
	float: right;
}
.upld-col{}
.add-pro{}
.header-navbar .navbar-container ul.nav li a.menu-toggle {
    padding: 0rem 0.8rem 1rem 1rem;
    position: relative;
    top: 5px;
}
.new-overr-view-card{
	background: #eb1f23;
	padding: 20px;
	width: 100%;
}
.new-overr-view-card i{
	color: #fff;
	font-size: 30px;
	margin: 0 15px 0 0;
	position: relative;
	top: 5px;
}
.new-overr-view-card p{
	color: #fff;
	font-size: 16px;
	float: left;
}
.new-overr-view-card h5{
	color: #fff;
	font-size: 28px;
	float: right;
	font-weight: 600;
}
.form-group .form-control-position i{
	color: #999999;
}
.pull-left.btn-group.mr-1.mb-1{
	float: none !important;
	
}
.admin-booking-log-h2{
	color: #363636 !important;
	font-size: 22px !important;
	text-transform: uppercase !important;
	font-weight: 600;
}
.pack-popup-header{
	background: #363636;
	border-radius:0px;
	margin: 0px;
	position: relative;
	padding: 20px 0 0 0;
}
.pack-popup-header-img{
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    display: block;
    margin: 0px auto;
}
.pack-popup-header h6{
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
    padding: 15px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
}
.slot-popup-body{
	padding: 0px !important;
	text-align: center;
}
.slot-popup-body .cntr-btnn-main button{
	margin: 40px 0px;
}
.reportd-issue-popup{
	    max-width: 800px !important;
}
.reportd-issue-popup p{
	color: #999999 !important;
	font-size: 16px !important;
}

.register{background:url('../../images/register.jpg') no-repeat;-webkit-background-size: cover;background-size: cover;min-height: 100%;}
.register h4{
	color: #333333;
	font-size: 24px;
	text-transform: capitalize;
	margin: 20px 0px 0px 0px;
	padding: 0px !important;
	text-align: center
}
.register-main-btn {
	border-radius: 100px;font-size: 17px;
	background: #006399;color: white;transition: all .3s ease-in-out;margin: 25px 0 0 0;
font-weight: 600;
	text-transform: uppercase;
	    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
	text-align: center;
	color: #fff !important;
	text-decoration: none !important;
	float: none !important;
}
.back-loginn{
	color:#333333 !important;
	font-size: 20px !important;
	margin: 35px  auto 0px auto !important;
	padding: 0px !important;
	display: block !important;
	text-align: center !important;
	float: none !important;
	font-weight: 600;
}
.back-loginn i{
	position: static !important;
	left: 0 !important;
	top: 0 !important;
	color:#1b1216 !important;
}


table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
   white-space: nowrap !important;
   text-overflow: ellipsis !important;
}
.register-main{background-color:white;padding: 30px 60px 80px 60px;margin: 150px 0;border-radius: 20px;}
.register i{position: absolute;z-index: 9999;color: #999999;left: 40px;top: 16px;font-size: 14px;}
.register input{position: relative;border-radius: 100px;height: 46px;color: #cccccc;font-size: 14px;padding: 0px 0 0 50px;margin: 0 0 15px 0;border: 1px solid #e1e1e1;}
.register-main img {margin: 0 auto;display: block;width: 214px;}
.register-main .img-div img {width: 135px;height: 135px;border-radius: 100px;border: 4px solid #eceaea;} 
.img-div{position: relative;}
.img-div-inner{margin: 0 0 30px 0;}
.dob {border-radius: 100px;border: 1px solid #e1e1e1;width: 100%;margin: 0 10px 15px 10px;}
.dob .col-md-3.col-sm-6.col-6 {padding: 0;}
.dob .row {margin: 0;}
.dob i {position: initial;margin: 0 10px 0 0;}
.dob select.last {border-radius: 100px;border-left: 0;border-right: 0;border: 0px;}
.dob label {margin: 12px 0 0 20px;color: #d6d6d6;}
.dob select {border-left: 1px solid #e1e1e1;border-radius: 1px;color: #333333;border-bottom: 0;border-top: 0;}
.img-div-inner button {z-index: 9999;position: absolute;background: red;border-radius: 100px;right: 110px;bottom: 0;width: 30px;height: 30px;border: 4px solid white;padding: 0 0 0 2px;}
.img-div-inner i {position: initial;color: white;font-size: 13px;line-height: 13px;margin: 0;}
.dob select:focus {border: 1px solid #e1e1e1;}
.dob select.last:focus {border: 0;}
.register input:focus {border: 1px solid #cccccc;}
.register input::placeholder {color: #cccccc;}
.register .form-control button {border-radius: 50px;}
.register-main button.form-control {border-radius: 100px;font-size: 17px;background: #006399;color: white;transition: all .3s ease-in-out;margin: 25px 0 0 0;
font-weight: 600;
	text-transform: uppercase;
}
label.check {
    float: left;
}
.check input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    margin: 0 5px 0 0px !important;
    padding: 0px !important;
    height: auto !important;
    float: left;
    position: relative;
    top: 4px;
}
.login-forgot-span{
	float: right;
	color: #006399;
	text-decoration: underline;
	margin: 0 5px 0 0;
}
.register-main button.form-control:focus {}
.register-main button.form-control:hover {background: #a20008;}
.register-main .new-user p {text-align: center;margin: 60px 0 0 0;position: relative;text-transform: capitalize;color: #999999;}
.register-main a.login {border-radius: 50px;border: 1px solid #1d1d1e;text-align: center;display: inline-block;margin: 60px 0 0 0;color: #2a2a2b;font-size: 17px;text-transform: capitalize;transition: all .3s ease-in-out;}
.register-main a.login:hover {color: white;background: #2a2a2b;}
.register-main .new-user p:before {width: 150px;position: absolute;height: 1px;/* background: #e6e6e6; */content: '';border: 1px solid #e6e6e6;right: -30px;top: 9px;}
.register-main .new-user p:after {width: 150px;position: absolute;height: 1px;/* background: #e6e6e6; */content: '';border: 1px solid #e6e6e6;left: -30px;top: 9px;}
/*========================== register user end here============================*/   

.user-boxss{
	margin:40px 0px;
	    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
	padding: 20px;
	text-align: center;
	border-radius:10px;
	display: block;
}
.user-boxss h4{
	margin: 0px;
	padding: 25px 0px;
	font-size: 28px;
	color: #666666;
	font-weight: 600;
}
.user-boxss a{
	background: #006399;
	padding: 10px 30px;
	display: table;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	border-radius:25px;
	margin: 10px auto;
}
.user-boxss a:hover{
	background: #ff8564;
}
/*.maain-tabble .col-md-6{
	padding:0px !important;
}*/
.dataTables_wrapper{
	padding-left:0px !important;
	padding-right: 0px !important;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    background: url(../../images/srch-icon.png) no-repeat 90% 45%;
    padding: 10px 30px;
    border-radius: 25px;
	border: 1px solid #ebebeb;
	    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.0), 0 2px 9px 0 rgba(62, 57, 107, 0.0) !important;
	position: relative;
}
.srot-dropdown {
    margin-left: 0.5em;
    display: inline-block;
    width: 195px;
    background:#f6f6f6;
    padding:8px;
    border-radius: 25px;
	border: none !important;
	    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.0), 0 2px 9px 0 rgba(62, 57, 107, 0.0) !important;
	position: relative;
	float: right;
}
div.dataTables_wrapper div.dataTables_filter input:after {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../../images/bulit.png);
	width: 20px;
	height: 20px;
}
.dataTables_length .form-control-sm{
	border-radius:25px;
	height: calc(2rem + 2px) !important;
}
.user-profille-row{
	align-items:center;
}
.user-profille{
	margin:100px auto;
	    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
	padding: 60px;
	border-radius:10px;
	display: block;
	width: 95%;
}
.user-profille .pro-img{
	width: 100%;
	border-radius:50%;
	border: 10px solid #eceaea;
}
.user-profille h2{
	font-size: 35px;
	color: #333333;
	margin: 0 0 20px 0;
	padding: 0px;
	font-weight: 600;
}
.user-profille h2 span{
	font-size: 16px;
	color: #333333;
	display: block;
	font-weight: 400;
}
.user-profille a {
    float: right;
    font-size: 13px;
    color: #ffffff !important;
    font-weight: 400;
    text-decoration: none;
    padding: 6px 15px;
    background: #ff6600;
    margin: 0px 0 0 0 !important;
    position: relative;
    border-radius: 25px;
}
.user-profille a:hover {
    background: #006399;
}
.user-profille a i {
    margin: 0 3px 0 0;
}

.sliver{
	background:#9f9f9f;
	padding: 2px 5px;
	border-radius:5px;
	color: #fff !important;
}
.bronze{
	background:#cd853d;
	padding: 2px 5px;
	border-radius:5px;
	color: #fff !important;
}
.gold{
	background:#f4a925;
	padding: 2px 5px;
	border-radius:5px;
	color: #fff !important;
}
.active-status{
	background:#8fea69;
	padding: 2px 5px;
	border-radius:5px;
	color: #fff !important;
}
.end-status{
	background:#f56565;
	padding: 2px 5px;
	border-radius:5px;
	color: #fff !important;
}
.flex-card {
    width: 100%;
    display: flex;
    padding: 15px;
    border-radius: 5px;
    /* align-self: center; */
    margin: 15px 0px;
    background: #8fea69;
    justify-content: space-between;
    align-items: center;
}
.flex-card p{
	color: #fefefe;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}
.payment-new-p{
	color: #666666;
	font-size: 16px;
	text-align: right;
	text-transform: uppercase;
	margin: 0px !important;
	padding: 0px !important;
}
.payment-new-p2{
	color: #8fea69;
	font-size: 16px;
	text-align: right;
	text-transform: uppercase;
	margin: 0px !important;
	padding: 0px !important;
}
.payment-new-p2 span{
	color: #f45a5a;
}
.flex-card i{
	color: #fefefe;
	font-size: 22px;
	margin: 0px 10px 0px 0px;
	padding: 0px;
}
.flex-card h4{
	color: #fefefe;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	font-weight: 600;
}
.flex-card h4.small{
	font-size: 20px;
}
.flex-card-yellow{
	background: #ffcc00 !important;
}
.flex-card-blue{
	background: #00a9ea !important;
}
.white-side {
    background: #fff;
    padding: 50px 10px;
    border-radius: 10px;
    text-align: center;
	    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
 .rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
     clip: rect(auto, auto, auto, auto);
}
 .pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
     position: absolute;
     border: 0.08em solid #0eaceb;
     width: 0.84em;
     height: 0.84em;
     clip: rect(0em, 0.5em, 1em, 0em);
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border-radius: 50%;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
}
 .pie-fill, .c100.p51 .bar:after, .c100.p51 .fill, .c100.p52 .bar:after, .c100.p52 .fill, .c100.p53 .bar:after, .c100.p53 .fill, .c100.p54 .bar:after, .c100.p54 .fill, .c100.p55 .bar:after, .c100.p55 .fill, .c100.p56 .bar:after, .c100.p56 .fill, .c100.p57 .bar:after, .c100.p57 .fill, .c100.p58 .bar:after, .c100.p58 .fill, .c100.p59 .bar:after, .c100.p59 .fill, .c100.p60 .bar:after, .c100.p60 .fill, .c100.p61 .bar:after, .c100.p61 .fill, .c100.p62 .bar:after, .c100.p62 .fill, .c100.p63 .bar:after, .c100.p63 .fill, .c100.p64 .bar:after, .c100.p64 .fill, .c100.p65 .bar:after, .c100.p65 .fill, .c100.p66 .bar:after, .c100.p66 .fill, .c100.p67 .bar:after, .c100.p67 .fill, .c100.p68 .bar:after, .c100.p68 .fill, .c100.p69 .bar:after, .c100.p69 .fill, .c100.p70 .bar:after, .c100.p70 .fill, .c100.p71 .bar:after, .c100.p71 .fill, .c100.p72 .bar:after, .c100.p72 .fill, .c100.p73 .bar:after, .c100.p73 .fill, .c100.p74 .bar:after, .c100.p74 .fill, .c100.p75 .bar:after, .c100.p75 .fill, .c100.p76 .bar:after, .c100.p76 .fill, .c100.p77 .bar:after, .c100.p77 .fill, .c100.p78 .bar:after, .c100.p78 .fill, .c100.p79 .bar:after, .c100.p79 .fill, .c100.p80 .bar:after, .c100.p80 .fill, .c100.p81 .bar:after, .c100.p81 .fill, .c100.p82 .bar:after, .c100.p82 .fill, .c100.p83 .bar:after, .c100.p83 .fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p85 .bar:after, .c100.p85 .fill, .c100.p86 .bar:after, .c100.p86 .fill, .c100.p87 .bar:after, .c100.p87 .fill, .c100.p88 .bar:after, .c100.p88 .fill, .c100.p89 .bar:after, .c100.p89 .fill, .c100.p90 .bar:after, .c100.p90 .fill, .c100.p91 .bar:after, .c100.p91 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p93 .bar:after, .c100.p93 .fill, .c100.p94 .bar:after, .c100.p94 .fill, .c100.p95 .bar:after, .c100.p95 .fill, .c100.p96 .bar:after, .c100.p96 .fill, .c100.p97 .bar:after, .c100.p97 .fill, .c100.p98 .bar:after, .c100.p98 .fill, .c100.p99 .bar:after, .c100.p99 .fill, .c100.p100 .bar:after, .c100.p100 .fill {
     -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     transform: rotate(180deg);
}
 .c100 {
     position: relative;
     font-size:120px;
     width: 1em;
     height: 1em;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border-radius: 50%;
     float: none;
     margin: 0 auto 25px;
     background-color: #cccccc;
}
 .c100 *, .c100 *:before, .c100 *:after {
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
}
 .c100.center {
     float: none;
     margin: 0 auto;
}
 .c100.big {
     font-size:120px;
}
 .c100.small {
     font-size: 80px;
}
 .c100 > span {
     position: absolute;
     width: 100%;
     z-index: 1;
     left: 0;
     top: 0;
     width: 5em;
     line-height: 5em;
     font-size: 0.2em;
	 font-weight: 700;
     color: #0eadeb;
     display: block;
     text-align: center;
     white-space: nowrap;
     -webkit-transition-property: all;
     -moz-transition-property: all;
     -o-transition-property: all;
     transition-property: all;
     -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
     transition-duration: 0.2s;
     -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
     -o-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}
 .c100:after {
     position: absolute;
     top: 0.08em;
     left: 0.08em;
     display: block;
     content: " ";
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border-radius: 50%;
     background-color: whitesmoke;
     width: 0.84em;
     height: 0.84em;
     -webkit-transition-property: all;
     -moz-transition-property: all;
     -o-transition-property: all;
     transition-property: all;
     -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
     transition-duration: 0.2s;
     -webkit-transition-timing-function: ease-in;
     -moz-transition-timing-function: ease-in;
     -o-transition-timing-function: ease-in;
     transition-timing-function: ease-in;
}
 .c100 .slice {
     position: absolute;
     width: 1em;
     height: 1em;
     clip: rect(0em, 1em, 1em, 0.5em);
}
 .c100.p70 .bar {
     -webkit-transform: rotate(252deg);
     -moz-transform: rotate(252deg);
     -ms-transform: rotate(252deg);
     -o-transform: rotate(252deg);
     transform: rotate(252deg);
}
 .c100:hover {
     cursor: default;
}
 .c100:hover > span {
     width: 3.33em;
     line-height: 3.33em;
     font-size: 0.3em;
     color: #307bbb;
}
 .c100:hover:after {
     top: 0.04em;
     left: 0.04em;
     width: 0.92em;
     height: 0.92em;
}
 .c100 sup{
     font-size: 14px;
     position: absolute;
     top: 90px;
     z-index: 999;
     left: 0;
     right: 0;
     color: #0eaceb;
     text-transform: uppercase;
}
.contest-winner-box .contestt-enteris, .white-side .contestt-enteris {
    float: none;
    display: inline-block;
    text-align: left;
    margin: 0 15px;
}

.contest-winner-box .contestt-enteris h4, .white-side .contestt-enteris h4 {
    color: #666666;
    font-size: 2vw;
    font-family: 'Khand', sans-serif;
    margin: 0px;
    padding: 0 0.5vw;
	text-align: center;
	display: inline-block;
    font-weight: 700;
}
.contest-winner-box .contestt-enteris h4 span, .white-side .contestt-enteris span {
    color: #666666;
    font-size: 0.8vw;
    display: block;
    font-weight: 400;
	text-transform: uppercase;
}
.red-bg{
	background:#f45a5a !important;
}
.main-img-border{
	width:100%;
	border: 10px solid #f0f0f0;
	border-radius: 10px;
	
}
.new-h5{
	color: #006399;
	font-size: 25px;
	text-transform: uppercase;
	margin: 0px 0 20px 0;
	padding: 0px;
	font-weight: 400;
}
.para1{
	color: #666666;
	font-size: 16px;
	line-height: 26px;
	margin: 0px 0 20px 0;
	padding: 0px;
	font-weight: 400;
}
.maain-tabble{
	padding:10px 10px 10px 0px;
}
.yellow-bg {
	display: block !important;
    background: #ffcc00 !important;
	float: left;
	padding: 20px 15px !important;
}
.yellow-bg .progress {
	display: block !important;
	width: 100% !important;
	margin: 20px 0px !important;
	background: #f2f2f2 !important;
	border-radius:25px;
	    height: 3rem;
	font-size: 16px;
}
.yellow-bg .progress .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #006399;
    transition: width 0.6s ease;
    height: 3rem;
	font-size: 16px;
}
.competion-winner{
	padding:30px 0px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	width: 100%;
	margin: 30px 0px;
}
.user-new-card{
	background: #fff;
    padding: 25px;
    border-radius: 10px;
	height: 100%;
    text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
	position: relative;
	margin: 0 0 20px 0;
}
.user-new-card h2{
	background: #f45a5a;
    padding: 3.5px 6px;
	position: absolute;
	left: 0;
	top: 20px;
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
}
.user-new-card h2:before{
	content: '';
	background: url(../../images/winner-red-before.png);
	right: 0;
	position: absolute;
	right: -10px;
	top: 0px;
	width: 12px;
	height: 31px;
	
}
.user-new-card img{
	width: 150px;
	height: 150px;
    border: 10px solid #f0f0f0;
    border-radius: 50%;
    margin: 10px auto;
}
.user-new-card h3 {
    color: #333333;
    text-transform: capitalize;
	margin: 0px;
	padding: 0px;
    font-size: 35px;
    font-weight: 600;
}
.user-new-card p {
    color: #666666;
	margin: 0px;
	padding: 0px;
    font-size: 16px;
    font-weight: 400;
}
.new-upload-btnn{
	background: #f0f0f0;
	padding: 10px;
	border-radius:10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: none;
	height: 100%;
	width: 100%;
	justify-content: center;
}
.new-upload-btnn span{
	display: block;
	color: #999999;
	font-size: 16px;
	text-transform: uppercase;
}
.new-upload-btnn i{
	display: block;
	color: #999999;
	font-size: 22px;
}
.create-form-main{
	margin: 25px 0px;
}
.create-form-main label{
	font-size: 18px;
	color: #666666;
	font-weight: 400;
	display: block;
	margin: 15px 0 5px 5px;
}
.create-form-main label i{
	font-size: 18px;
	color: #006399;
	width: 25px;
}
.create-form-main .new-input{
	border: 1px solid #ccc;
	padding: 15px;
	border-radius:25px;
	width: 100%;
}
.create-form-main .custom-control-label{
	display:inline-block !important;
	margin: 0px !important;
	font-size: inherit !important;
}
.create-form-main .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #006399 !important;
}
.cnt-btnn{
	background: #ee2c48;
    color: #fff;
    padding: 12px 40px;
    display: table;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px auto;
	text-decoration: none;
	border: 1px solid #ee2c48;
	border-radius:25px; 
}
.cnt-btnn:hover{
	background: #fff;
    color: #ee2c48;
}
.draw-upload-btn{
	border:1px solid #00a9ea;
	color: #00a9ea;
	font-size: 13px;
	background: transparent;
	border-radius:5px; 
}
.draw-upload-btn-disable{
	border:1px solid #cacaca !important;
	color: #cacaca !important;
}
.cnt-btnn-disable{
	background: #ccc !important;
}
.draw-reslt-upload-srch{
	background: #fff;
	    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-radius:25px;
	    margin: 25px 0px;
    overflow: hidden;
	padding-left: 20px;
}
.draw-reslt-upload-srch .inpt{
	background: #fff;
    padding: 10px;
    border: none;
    width: 100%;
}
.draw-reslt-upload-srch button{
	background: #ff6600;
	padding: 10px 15px;
	border: none;
	font-size: 18px;
	color: #fff;
}
.draw-reslt-upload-vd-btn{
	padding:0px !important;
	margin: 0px !important;
	background: transparent !important;
	border: none !important;
}
.feedback-details-main{
	padding:5% 30%;
}
.feedback-details-main h5{
	font-weight: 600 !important;
}
.feedback-details-main label{
	font-weight: 400 !important;
	color: #999999;
	font-size: 14px;
	display: block;
}
.feedback-details-main label i{
	margin: 0 5px 0 0;
	color: #03659a;
}
.feedback-details-main p{
	font-weight: 400 !important;
	color: #333333;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.feedback-detials-top-img{
	    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0px auto;
}
.add-clint-modaal {
    max-width: 600px !important;
    padding: 0px !important;
	border-radius:15px !important; 
}
.gift-popup-main .modal-body {
    padding: 10px !important;
}
.gift-popup {
    border: 2px dashed #ccc;
    padding: 60px;
    border-radius: 5px;
}
.gift-popup img{
	position: absolute;
	left: 0;
	right: 0;
	top:-60px;
	margin: 0px auto;
}
.gift-popup h3{
	color: #006399;
	font-size: 35px;
	font-weight: 600;
	margin: 0px;
	padding: 0 0 25px 0;
	text-align: center;
	text-transform: uppercase;
}

div.dataTables_wrapper div.dataTables_info {
	font-size: 16px !important;
}
.employ-top-boxs{
	width:100%;
	    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    padding: 20px;
	border-radius:10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.employ-top-boxs .inner{
	flex-direction: column;
}
.employ-top-boxs span{
	color: #999999;
	font-size: 16px;
	display: block;
	margin: 0px;
	padding: 0px;
}
.employ-top-boxs h5{
	color: #282425;
	font-weight: 600;
	font-size: 38px;
	margin: 0px;
	padding: 0px;
}
.emply-chanlng-span{
	color: #282425;
	font-size: 24px;
	font-weight: 600;
	display: block;
	margin-top: 20px;
	text-align: center;
}
.emply-home-bottom{
	padding: 30px 0px;
}
.emply-home-bottom h3{
	color: #282425;
	margin: 0 0 15px 0;
	padding: 0px;
	font-weight: 500;
	font-size: 22px;
}
.emply-bottom-boxs {
    margin: 20px 0px;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    padding: 10px;
    border-radius: 10px;
	display: flex;
}
.emply-bottom-boxs img{
	width:120px;
	height: 100px;
	border-radius:5px;
	margin-right: 10px;
}
.emply-bottom-boxs h6 {
    color: #ee2c48;
	margin: 0;
	padding: 0px;
	font-weight: 500;
	font-size: 17px;
}
.emply-bottom-boxs span {
    color: #999999;
	margin: 0;
	padding: 0px;
	font-weight: 400;
	font-size: 13px;
	display: block;
}
.emply-bottom-boxs p {
    color: #333333;
	margin: 0;
	padding: 0px;
	font-weight: 400;
	font-size: 13px;
	display: block;
}
.payment-profile-top{
	margin:0px 0px;
	align-items: center;
	display: flex;
}
.payment-profile-top h3 {
    color: #ee2c48;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    font-size: 22px;
    font-weight: 600;
}
.payment-profile-top p {
    color: #999999;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
}
.payment-profile-top img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
	margin: 0 15px 0 0;
}
.user-profille-inner-row{
	padding-bottom:30px;	
}
.user-profille-inner-row p{
	font-size: 15px;
	color: #999999;
	font-weight: 400;
	margin: 0px !important;
	padding: 0px !important;
}
.user-profille-inner-row i{
	color: #999999;
	margin: 0 5px 0 0;
	width: 25px;
}
.user-profille-inner-row span{
	font-size: 16px;
	color: #666666;
	display: block;
	font-weight: 600;
}
.user-profile-challenges{
	padding: 30px 0px;
}
.user-profile-challenges h4{
	font-size: 26px;
	color: #293492;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px !important;
	padding: 0px 0 20px 0 !important;
}
.user-profile-challenges h5{
	color: #333333;
	text-transform: uppercase;
	font-size: 20px;
}
.user-profile-challenges .employ-top-boxs span {
    color: #fff;
    font-size: 22px;
    display: block;
    margin: 0px;
	width: 40px;
	text-align: center;
	height: 40px;
	background: #293492;
	padding:6px 0 0 0;
	border-radius:50%; 
}
.user-profile-challenges .employ-top-boxs span.bg-danger {
	background: #ee2c48 !important;
}
.user-profile-bottom-fftp{
	padding: 30px 0px;
}
.user-profile-bottom-fftp h2{
	font-size: 22px;
	color: #333333;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px !important;
	padding: 0px 0 20px 0 !important;
}
.user-profile-btm-box{
	    width: 100%;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    border-radius: 10px;
	text-align: center;
	overflow: hidden;
}
.user-profile-btm-box .top-head{
	    width: 100%;
	background: #ee2c48;
	padding: 20px;
}
.user-profile-btm-box .top-head h3{
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px !important;
	padding: 0px 0 10px 0 !important;
}
.user-profile-btm-box .top-head .pro-img{
	width: 60px;
	height: 60px;
	border: 2px solid #fff;
	border-radius:50%;
	margin: 5px 0px;
}
.user-profile-btm-box .top-head span{
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	display: block;
}
.active-span{
	background: #fff;
	padding:5px 10px;
	border-radius:25px;
	color: #41ca0b;
	font-size: 15px;
	display: table;
	margin: -15px auto 0px auto;
	text-align: center;
	width: 100px;
}
.exp-span{
	background: #fff;
	padding:5px 10px;
	border-radius:25px;
	color: #ee2c48;
	font-size: 15px;
	display: table;
		margin: -15px auto 0px auto;
	text-align: center;
	width: 100px;
}
.user-profile-btm-box  h4{
	font-size: 18px;
	color: #333333;
	font-weight: 600;
	text-transform: capitalize;
	margin: 0px !important;
	padding:10px 0px !important;
}
.user-profile-btm-box h4 span{
	font-size: 15px;
	color: #999999;
	font-weight: 400;
	display: block;
}
.date-time{
	font-size: 16px;
	color: #999999;
	font-weight: 600;
	display: block;
	text-align: center;
	margin: 10px 0px;
	padding: 0px;
}
.date-time i{
	display: block;
	font-size: 20px;
}
.profile-back{
	color: #666666 !important;
	font-size: 28px !important;
}
.chlng-detail-top{}
.chlng-detail-top h2{
	color: #333333;
	font-size: 26px;
	margin: 0px;
	padding: 0px;
	font-weight: 500;
}
.chlng-detail-top h2 span{
	color: #999999;
	font-size: 15px;
	display: block;
	font-weight: 400;
}
.chlng-detail-top h2 span{
	color: #999999;
	font-size: 15px;
	display: block;
	font-weight: 400;
}
.chlng-detail-top .active-span {
    background: #28a360;
    padding: 5px 10px;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    display: table;
    margin: 0;
    text-align: center;
    width: 100px;
}
.chlng-detail-top p{
	color: #666666;
	font-size: 18px;
	display: block;
	font-weight: 400;
	line-height: 28px;
	margin-top: 15px;
}
.nav.nav-tabs.nav-underline {
    background: #fff;
    position: relative;
    border-bottom: none !important;
}
.nav.nav-tabs.nav-underline .nav-item {
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    -webkit-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin:0px 20px 0 0;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding: 10px 50px;
	font-size: 18px;
	line-height: 22px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #cccccc;
    border: 2px solid #fff;
	border-radius:10px; 
	 box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link.active {
    border: 2px solid #ee2c48;
    background-color: transparent;
	color:#ee2c48 !important;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link:before {
    background: transparent;
}
.bord-right{
	border-right:1px dashed #ebebeb;	
}
.chalng-details-box{
	margin: 15px 0px;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    padding: 10px;
    border-radius: 10px;
    display: flex;
}
.chalng-details-box img {
    width: 172px;
    height: 130px;
    border-radius: 5px;
    margin-right: 20px;
}
.chalng-details-box h5 {
    color: #333333;
    margin: 0px;
    padding: 0px 0 15px 0;
    font-weight: 500;
    font-size: 20px;
}
.chalng-details-box p {
    color: #999999;
    margin: 0px;
    padding: 0px 0 15px 0;
    font-weight: 400;
    font-size: 16px;
	line-height: 22px;
}
.chalng-details-box h6 {
    color: #ee2c48;
    margin: 0px;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}
.chalng-details-box .d-flex.flex-row.justify-content-between{
	padding-right: 30px;
}
.chanlg-detail-vid-top{
	 margin: 0px 0px;
    align-items: center;
    display: flex;
	justify-content: space-between;
}
.chanlg-detail-vid-top .inner{
	width: 100%;
}
.chanlg-detail-vid-top img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 15px 0 0;
	float: left;
}
.chanlg-detail-vid-top .name {
    color: #333333;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
}
.chanlg-detail-vid-top span {
    color: #293492;
    text-transform: capitalize;
    margin: 0px;
	display: block;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
}
.chanlg-detail-vid-top h5 {
    color: #ee2c48;
    text-transform: capitalize;
    margin: 0px;
	display: block;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
}
.chalng-vid-box{
	margin:40px 0px;
	width: 100%;
}
.chalng-vid-box img{
	width: 100%;
}
.chalng-vid-box p{
	color: #333333;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    font-weight: 400;
}
.chalng-vid-box h5{
	color: #ee2c48;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
}
.chalng-vid-box span{
	color: #666666;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
	display: block;
}
.chalng-box-main {
    margin: 15px 0px;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    border-radius: 5px;
	overflow: hidden;
	width: 100%;
}
.chalng-box-main h3{
   font-size: 20px;
   font-weight: 600;
   color: #333333;
   margin: 0px;
   padding: 0px;
}
.chalng-box-main h4{
   font-size: 23px;
   font-weight: 600;
   color: #ee2c48;
   margin: 0px;
   padding: 0px;
}
.chalng-box-main span{
   font-size: 13px;
   font-weight: 400;
   color: #999999;
   margin: 0px;
   padding: 0px;
   display: block;
}
.chalng-box-main h5{
   font-size: 16px;
   font-weight: 600;
   color: #333333;
   margin: 0px;
   padding: 0px;
   display: block;
}
.chalng-box-main .winner-name{
	position:absolute;
	left: 0;
	bottom: 0;
	font-size: 14px;
   font-weight: 600;
   color: #fff;
   margin: 0px;
	background: #ee2c48;
   padding:5px 10px;
}
.closed-span {
    background: #ee2c48;
    padding: 5px 10px;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    display: table;
    margin: 0;
    text-align: center;
    width: 100px;
}
.phase-span-main{
	margin:50px 0px;
	display: flex;
}
.phase-span-main .inactive{
	background: #ebebeb;
    padding: 7px 40px;
    color: #999999;
    font-size: 19px;
    display: table;
    margin: 0;
    text-align: center;
	margin: 0px 60px 0 0;
	position: relative;
}
.phase-span-main .inactive:after{
	position: absolute;
	width: 0;
height: 0;
border-style: solid;
border-width: 18.5px 0 18.5px 32.0px;
border-color: transparent transparent transparent #ebebeb;
	right: -30px;
	top: 0;
	content: '';
}
.phase-span-main .active{
	background: #ee2c48;
    padding: 7px 40px;
    color: #fff;
    font-size: 19px;
    display: table;
    text-align: center;
	margin: 0 60px 0 0;
	position: relative;
	
}
.phase-span-main .active:after{
	position: absolute;
	width: 0;
height: 0;
border-style: solid;
border-width: 18.5px 0 18.5px 32.0px;
border-color: transparent transparent transparent #ee2c48;
	right: -32px;
	top: 0;
	content: '';
}
.chalng-detail-members{
	padding:15px 0px;
}
.chalng-detail-members h3{
	 color: #333333;
    font-size: 20px;
	font-weight: 600;
	margin: 0px;
	padding: 10px 0px 10px 0px;
}
.chalng-detail-members h5{
	 color: #333333;
    font-size: 20px;
	font-weight: 400;
	margin: 0px;
	padding: 11px 0px 10px 0px;
}
.chalng-members-box{
	background: #fff;
	padding: 20px;
	display: flex;
	align-items: center;
	margin: 0 0 20px 0;
	border-radius:8px;
	border: 2px solid #fff;
}
.chalng-members-box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 15px 0 0;
}
.chalng-members-box p {
    color: #333333;
    font-size: 19px;
	font-weight: 400;
    margin: 0px;
	padding: 0px;
}
.chalng-members-box span {
    color: #ee2c48;
    font-size: 19px;
	font-weight: 600;
    margin: 0px;
	padding: 0px;
	display: block;
}
.emp-detail-label{
	    color: #666666;
    font-size: 13px;
    line-height: 13px;
    margin: -10px 0 0 0;
    padding: 0;
    display: block;
}

.chalng-details-box.d-block.text-center img{
	width:auto;
	height: auto;
	border-radius:0px;
	margin: 0px;
}
.postion-h5{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin: 0px;
    width: 40px;
    text-align: center;
    height: 40px;
    background: #293492;
    padding: 10px 0 0 0;
    border-radius: 50%;
	position: absolute;
	right: 2rem;
}
.postion-h5 i{
	font-style: normal !important;
    font-size: 13px;
	font-weight: 700;
}
.admin-user-profile-top{
	background: #f8f8f8;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 100px;
}
.admin-user-profile-top-image-main{
	position: absolute;
    top: 0px;
    text-align: center;
    left: 0;
    right: 0;
}
.admin-user-profile-top-image-main img{
	width: 130px;
	height: 130px;
	border-radius:50%; 
}
.admin-user-profile-top-image-main h6{
	color: #ee2c48;
	font-size: 22px;
	margin: 0px;
	padding: 5px 0px;
	font-weight: 500;
}
.admin-user-profile-top-image-main span{
	color: #999999;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	display: block;
}
.admin-user-profile-top-boxs{
	padding: 10px;
	background: #ffffff;
	text-align: center;
	margin-bottom: 10px;
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.admin-user-profile-top-boxs h5{
	color: #ee2c48;
	font-size: 40px;
	margin: 0px;
	padding:0;
	font-weight: 500;
}
.admin-user-profile-top-boxs span{
	color: #999999;
	font-size: 17px;
	margin: 0px;
	padding:0;
	font-weight: 500;
	display: block;
}
.admin-user-profile-top-boxs-logo{
	text-align: center;
}
.admin-user-profile-top-boxs-logo h5{
	color: #333333;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	font-weight: 500;
}
.admin-top-red-nav{
	float: left;
	margin: 20px 0px 40px 0px;
	width: 100%;
}
.admin-top-red-nav ul{
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
.admin-top-red-nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0px;
	margin:5px 25px 5px 0px;
	color: #fff !important;
	border-radius:6px; 
}
.admin-top-red-nav ul li a{
	color: #cccccc;
	font-size: 16px;
	margin: 0px;
	padding: 5px 30px;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
	border: 1px solid #f8f8f8;
	border-radius:6px; 
	
}
.admin-top-red-nav ul li a:hover{
	color: #fff;
	border: 1px solid #ee2c48;
	background: #ee2c48;
}
.admin-top-red-nav ul li.active{
	color: #fff !important;
/*	border: 1px solid #ee2c48;*/
	background: #ee2c48;
}
.admin-top-red-nav ul li.active a{
	color: #fff !important;
/*	border: 1px solid #ee2c48;*/
	background: #ee2c48;
}
.admin-user-charity-h5{
	color: #ee2c48;
	font-size: 26px;
	font-weight: 500;
	margin: 20px 0px;
	padding: 0px;
	text-transform: capitalize;
}
.admin-user-charity-h5 span{
	color: #666666;
	font-size: 18px;
	font-weight: 500;
	margin: 0px;
	padding: 0px;
	text-transform: capitalize;
	display: block;
}
.admin-user-frinds-boxs{}
.admin-user-frinds-boxs p{
	color: #333333 !important;
	font-size: 17px !important;
}
.admin-user-frinds-boxs span{
	color: #666666 !important;
	font-size: 14px !important;
}
.new-table-striped{}
.new-table-striped .table tbody td {
    padding: 5px 2rem;
	color: #333333;
	font-size: 18px;
	line-height: 50px;
}
.new-table-striped .table tbody th {
	color: #333333 !important;
}
.new-table-striped img {
	width: 47px;
	height: 47px;
}
.user-profile-order-details-h4{
	color: #ee2c48;
	font-size: 20px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
.user-profile-order-details-h3{
	color: #333333;
	font-size: 17px;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
.admin-chlng-fit-top{}
.admin-chlng-fit-top label{
	font-size: 17px;
	color: #333333;
	display: block;
	margin: 0px;
	padding: 0px 0 5px 0;
	font-weight: 500;
}
.admin-chlng-fit-top-input{
	color: #333333;
	font-size: 17px;
	font-weight: 700;
	width: 100%;
	padding:5px 10px;
	border: 1px solid #eee;
	border-radius:25px; 
}
.fit-top--h2{
	color: #333333 !important;
	font-size: 37px !important;
	font-weight: 700 !important;
	margin: 0px;
	padding: 15px 0px;
}
.fit-top--h2 span{
	color: #666666;
	font-size: 15px;
	font-weight: 400;
	margin: 0px;
	padding:0;
	display: block;
}

.admin-top-blue-nav{
	float: left;
	margin: 20px 0px 40px 0px;
	width: 100%;
}
.admin-top-blue-nav ul{
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
.admin-top-blue-nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0px;
	margin:5px 5px 5px 0px;
	color: #fff !important;
	border-radius:6px; 
}
.admin-top-blue-nav ul li a{
	color: #cccccc;
	font-size: 16px;
	margin: 0px;
	padding: 5px 20px;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
	border: 1px solid #f8f8f8;
	border-radius:6px; 
	
}
.admin-top-blue-nav ul li a:hover{
	color: #fff;
	border: 1px solid #293492;
	background: #293492;
}
.admin-top-blue-nav ul li.active{
	color: #fff !important;
/*	border: 1px solid #ee2c48;*/
	background: #293492;
}
.admin-chalngs-popup{
	padding:40px;
	width: 100%;
}
.admin-chalngs-popup h2{
	color: #0b0b0b !important;
	font-size: 22px;
	text-align: center;
	margin: 0px;
	padding:0px 0px 15px 0px;
	font-weight: 600;
}
.admin-chalngs-popup label{
	color: #333333;
	font-size: 16px;
	display: block;
	margin: 0px;
	padding: 0;
	font-weight: 500;
}
.admin-chalngs-popup-main{
	max-width: 400px !important;
    padding: 0px !important;
    border-radius: 15px !important;
}
.admin-chalngs-popup-main {
	max-width: 400px !important;
    padding: 0px !important;
    border-radius: 30px !important;
}
.admin-chalngs-popup-main .row{
	align-items:center;
}
.admin-chalngs-popup-main .cnt-btnn {
    background: #ee2c48;
    color: #fff;
    padding: 5px 0;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px auto;
    text-decoration: none;
    border: 1px solid #ee2c48;
    border-radius: 25px;
    text-align: center;
}
.admin-chlng-setting{}
.admin-chlng-setting .row{
	margin-bottom: 20px;
}
.admin-chlng-setting .row span{
	color: #999999;
	font-size: 14px;
	padding-left: 10px;
}
.admin-chlng-setting label{
	color: #333333;
	font-size: 16px;
	display: block;
	margin: 0px;
	padding: 0;
	font-weight: 500;
}
.admin-chlng-setting-input {
    color: #333333;
    font-size: 17px;
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 25px;
	text-align: center;
}
.regi-profile-main {
    width: 160px;
    height: 160px;
    margin: 25px auto;
    position: relative;
}
.regi-profile-main img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.uplrd-img-btn {
    padding: 0px !important;
    margin: 0px !important;
    background: #293492 !important;
    font-size: 13px;
    color: #fff;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 2px solid #fff;
}
.admin-add-user-main{
	padding: 40px;
    width: 100%;
}
.admin-add-user-main h3{
	color: #666666;
    font-size: 20px;
    display: block;
    margin: 0px 0px 15px 0px;
    padding: 0px;
    font-weight: 600;
}
.admin-add-user-main label {
    color: #999999;
    font-size: 16px;
    display: block;
    margin: 0px 0px 5px 5px;
    padding: 0px;
    font-weight: 600;
}
.admin-add-user-main .admin-chlng-fit-top-input {
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #eee;
    border-radius: 25px;
}
.admin-add-user-main .cnt-btnn{
	width:100%;
	padding: 8px 0px !important;
}
.admin-fftp-adduser-h5{
    color: #ee2c48;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Khand', sans-serif !important;
}
.card .card {
    box-shadow: inherit !important;
}
.admin-chlng-fit-top-txtara {
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #eee;
    border-radius: 25px;
	height: 160px;
	resize: none;
}
.admin-ftp-blue-btnn {
    background: #293492;
    color: #fff;
    padding: 6px 40px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0px;
	float: left;
    text-decoration: none;
    border: 1px solid #293492;
    border-radius: 25px;
}
.upload-admin-img{
	border:none;
	margin: 0px;
	padding: 0px;
	background: transparent;
}
.upload-admin-img img{
	width: 100%;
}
.admin-chlng-fit-top-txtara2 {
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #eee;
    border-radius: 25px;
    height: 240px;
    resize: none;
}
.cnt-btnn2 {
    background: #ee2c48;
    color: #fff;
    padding: 12px 40px;
	float: left;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px auto;
    text-decoration: none;
    border: 1px solid #ee2c48;
    border-radius: 25px;
}
.fftp-add-more-btn{
	 background: #fff;
    color: #ee2c48;
    padding: 6px 20px;
	float: left;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 10px auto;
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 25px;
}
.fftp-add-more-btn:hover{
	 background: #ee2c48;
    color: #fff;
    border: 1px solid #ee2c48;
}
@media (max-width:1420px) {
	.chalng-members-box p {
    color: #333333;
    font-size: 19px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
}
}
@media (max-width:1310px) {
	.user-boxss h4{
	font-size: 22px;
}
	.contest-winner-box .contestt-enteris h4, .white-side .contestt-enteris h4 {
    color: #666666;
    font-size: 30px;
    padding: 0 5px;
}
	.contest-winner-box .contestt-enteris h4 span, .white-side .contestt-enteris span {
    font-size:13px;
}
	.new-upload-btnn span {
    display: block;
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
}
.feedback-details-main{
	padding:5% 25%;
}
	.chalng-details-box img {
    width: 100px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;
}
.chalng-details-box h5 {
    color: #333333;
    margin: 0px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
}
.chalng-details-box p {
    color: #999999;
    margin: 0px;
    padding: 0px 0 8px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
	.chalng-details-box .d-flex.flex-row.justify-content-between {
    padding-right: 0px;
}
}
@media (max-width:1200px) {
	.new-upload-btnn span {
    display: block;
    color: #999999;
    font-size: 13px;
    text-transform: uppercase;
}
	.user-boxss h4{
		padding: 10px;
}
.user-boxss h4{
	font-size: 18px;
}
.user-boxss a{
	padding: 10px 15px;
	font-size: 12px;
}
	.project-detail-right {

    border-bottom: 1px solid #eee !important;
    padding: 20px 0px;
    width: 100%;

}
.overview-card img {
    float: none;
    width: 67px !important;
    height: 67px !important;
    margin: 0 8px 0 0;

}
.upld-col{
	width: 100% !important;
	max-width: 100% !important;
	flex: 100% !important;
}
.testi-filed-icon {
    display: none;
}
.testi-filed-main {
    width: 100%;
    float: right;
}
	.overview-card h5 {
    color: #666666;
    font-size: 14px;
    padding: 8px 0 5px 0;
    margin: 0px;
    font-weight: 700;
}
	.user-profille {
    margin: 100px auto;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    padding: 40px;
    border-radius: 10px;
    display: block;
    width: 95%;
}
	.user-profille a {
    float: right;
    font-size: 12px;
    color: #ffffff !important;
    font-weight: 400;
    text-decoration: none;
    padding: 6px 13px;
    background: #ff6600;
    margin: 10px 0 0 0 !important;
    position: relative;
    border-radius: 25px;
}
	.feedback-details-main{
	padding:5% 15%;
}
}
@media (min-width: 768px) and (max-width: 999px) {
	.user-profille .pro-img {
    width: auto;
    border-radius: 50%;
    border: 10px solid #eceaea;
}
	.dataTables_wrapper table{
		display: table;
}
	.header-navbar.navbar-with-menu .navbar-container {
    top: 5px;
}
.upld-col{
	width: 100% !important;
	max-width: 100% !important;
	flex: 100% !important;
}
.testi-filed-icon {
    display: none;
}
.testi-filed-main {
    width: 100%;
    float: right;
}
.add-pro .col-md-2{
	width: 100% !important;
	max-width: 100% !important;
	flex: 100% !important;
	margin-bottom: 10px;
}
	.bord-right{
	border-right:none;	
}
}
@media (max-width: 767px) {
	img.brand-logo {
    width: 70px;
    margin-top: 16px;
}
	.srot-dropdown {
    float: none;
    margin: 0px auto;
    display: block;
}
	.maain-tabble {
    float: left;
    padding: 10px;
}
	
	.dataTables_wrapper table{
		display: table;
}
	.header-navbar.navbar-with-menu .navbar-container {
    top: 5px;
}
.upld-col{
	width: 100% !important;
	max-width: 100% !important;
	flex: 100% !important;
}
.testi-filed-icon {
    display: none;
}
.testi-filed-main {
    width: 100%;
    float: right;
}
.add-pro .col-md-2{
	width: 100% !important;
	max-width: 100% !important;
	flex: 100% !important;
	margin-bottom: 10px;
}
}
@media (max-width: 480px) {
	img.brand-logo {
    width: 70px;
    margin-top: 16px;
}
	.srot-dropdown {
    float: none;
    margin: 0px auto;
    display: block;
}
	.maain-tabble {
    float: left;
    padding: 10px;
}

.card-header .green-btn-project {
    margin: 10px 0 0 0 !important;
}
.form-client-right-span {

    color: #cccccc;
    font-size: 13px;
    float: none;
    display: block;
    margin: 5px 0px;

}
.blue-center-btn {
    width: 100%;
    text-align: center;

}
.card-title.pull-left{
	float:none;
}
.form-group .pull-left{
	float:none;
}
.testi-filed-icon {
    display: none;
}
.testi-filed-main {
    width: 100%;
    float: right;
}
.add-pro .col-md-2{
	width: 100% !important;
	max-width: 100% !important;
	flex: 100% !important;
	margin-bottom: 10px;
}
.header-navbar.navbar-with-menu .navbar-container {
    top: 8px;
}
	.header-navbar.navbar-with-menu .navbar-container {
    top: 5px;
}
.payment-details-top {
    margin: 60px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.chalng-details-box {
    margin: 15px 0px;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    padding: 10px;
    border-radius: 10px;
    display: block;
}
	.chalng-details-box img {
		margin-bottom: 20px;
		width: 100%;
		height: auto;
}
}
