<template>
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="">
                            <img class="brand-logo" alt="stack admin logo" :src="`${base_url}/images/logo.png`">
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">

                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li class="dropdown dropdown-notification nav-item">
                            <a class="nav-link nav-link-label" href="#" data-toggle="dropdown" aria-expanded="false">
                                <i class="ficon ft-mail"></i>
                                <span class="noticount badge badge-pill badge-default badge-warning badge-default badge-up"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header"><h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span></h6></li>
                                <li class="notificationpanel scrollable-container media-list ps-container ps-theme-dark ps-active-y"></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-notification nav-item">
                            <a class="nav-link nav-link-label" href="#" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="pronoticount badge badge-pill badge-default badge-warning badge-default badge-up"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header"><h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span></h6></li>
                                <li class="pronotificationpanel scrollable-container media-list ps-container ps-theme-dark ps-active-y"></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <span class="avatar avatar-online">
                                <img src="" alt="avatar">
                            </span>
                                <span class="user-name"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href=""><i class="ft-user"></i> Edit Profile</a>
                                <a class="dropdown-item" href=""><i class="ft-power"></i> Logout</a>
                                <form id="logout-form" action="" method="POST" style="display: none;">
                                </form>
                            </div>
                        </li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
