<template>
    <div :class="classes" :id="id">
        <label>Show
            <select @change="lengthChanged" :name="id" v-model="length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entries
        </label>
    </div>
</template>

<script>
    export default {
        props: {
            classes: {
                default: 'dataTables_length',
                type: String
            },
            id: {
                default: "DataTables_Table_0_length",
                type: String
            }
        },
        data(){
            return {
                length: 10,
            }
        },
        methods: {
            lengthChanged() {
                this.$emit('lengthChanged', this.length);
            }
        }
    }
</script>
