<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1>POLLING REQUESTS</h1>
                                        <ul class="nav nav-tabs nav-underline no-hover-bg mt-3">
                                            <li class="nav-item">
                                                <a class="nav-link" @click.prevent="history=false" :class="{ active: !history}">Polling Requests</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" @click.prevent="history=true" :class="{ active: history}">Polling History</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="maain-tabble table-responsive">
                                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <table-length @lengthChanged="per_page = $event"></table-length>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                            <label>Search:
                                                                <input type="search" @input="loadPoolingRequests" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                                            <thead>
                                                            <tr>
                                                                <th>Challenge</th>
                                                                <th>Date</th>
                                                                <th>Challenger</th>
                                                                <th>Opponent</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr v-for="(challenge,index) in challenges.data"  :key="challenge.id">
                                                                    <td>{{ challenge.challenge.title }}</td>
                                                                    <td>{{ challenge.created_date }}</td>
                                                                    <td>
                                                                        <img :src="challenge.sender.image" class="tab-img" alt="">
                                                                        {{ challenge.sender.name }}
                                                                    </td>
                                                                    <td>
                                                                        <img :src="challenge.recipient.image" class="tab-img" alt="">
                                                                        {{ challenge.recipient.name }}
                                                                    </td>
                                                                    <td>
                                                                        <div class="btn-group mr-1 mb-1">
                                                                            <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></button>
                                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                                <router-link class="dropdown-item" :to="{ name: 'pooling.requests.show', params: { id: challenge.id } }">
                                                                                    <i class="fa fa-pencil"></i>View
                                                                                </router-link>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info" v-if="challenges && challenges.meta && challenges.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                                            Showing {{ challenges.meta.from }} to {{ challenges.meta.to }} of {{ challenges.meta.total }} entries
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                            <pagination :data="challenges" @pagination-change-page="loadPoolingRequests">
                                                                <span slot="prev-nav">&lt; Previous</span>
                                                                <span slot="next-nav">Next &gt;</span>
                                                            </pagination>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url,
                isLoading: true,
                challenges: {},
                per_page: 10,
                history: false,
                search_term: '',
                sortKey: 'created_at',
            }
        },
        mounted() {
            this.loadPoolingRequests(1);
        },
        methods: {
            loadPoolingRequests(page = 1){
                axios.get(`/pooling-requests?history=${Number(this.history)}&page=${page}&per_page=${this.per_page}&search_term=${this.search_term}`)
                    .then(data => {
                        this.isLoading = false;
                        this.challenges = data.data;
                    });
            }
        },
        watch: {
            'per_page' () {
                this.loadPoolingRequests()
            },
            'history' () {
                this.loadPoolingRequests();
            }
        }
    }
</script>

<style>
    table {
        width: 100%;
        border-spacing: 0 26px;
    }
</style>
