<template>
    <div :class="{'app-content content': !userData}">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper" v-if="!isLoading">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 v-if="!userData">
                                <router-link :to="{ name: 'pooling.requests.index' }" class="profile-back">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </router-link> Polling Details
                            </h1>
                            <h3 v-if="!userData" class="emply-chanlng-span text-left pb-3">Lightweight Run challenge </h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 px-3 bord-right">
                                    <div v-if="userData" class="chanlg-detail-vid-top">
                                        <div class="d-flex align-items-center">
                                            <img :src="challenge.recipient.image" alt="">
                                            <div class="flex-column">
                                                <p class="name">{{ challenge.recipient.name }}</p>
                                                <span>Opponent</span>
                                            </div></div>
                                        <h5>Total votes: {{ opponentVoteCount }}</h5>
                                    </div>
                                    <div class="chalng-vid-box" v-for="(exercise, index) in challenge.challenge.exercises" @key="exercise.id">
                                        <video class="img-fluid img-thumbnails" controls
                                               :ref="`video${index}-${challenge.recipient.id}`"
                                               @loadedmetadata="seconds_to_days_hours_mins_secs_str(index, challenge.recipient.id)"
                                                v-if="exercise.uploadedVideos && exercise.uploadedVideos[challenge.recipient.id]"
                                               :src="exercise.uploadedVideos[challenge.recipient.id]"></video>
                                        <div class="d-flex flex-row justify-content-between mt-1">
                                            <div class="flex-column">
                                                <p>{{ exercise.title }}</p>
                                                <h5>Reps: {{ exercise.repeat }}</h5>
                                            </div>
                                            <span>Time: <span v-if="exercise.time">{{ exercise.time }}</span></span>
                                        </div>
                                    </div><!--chalng video box end-->
                                    <div  v-if="!userData">
                                        <button @click.prevent="declareWinner(challenge.recipient.id)" v-if="!challenge.sender_result && !challenge.recipient_result" class="cnt-btnn">Declared Winner</button>
                                    </div>
                                </div><!--col end-->
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 px-3">
                                    <div class="chanlg-detail-vid-top">
                                        <div class="d-flex align-items-center">
                                            <img :src="challenge.sender.image" alt="">
                                            <div class="flex-column">
                                                <p class="name">{{ challenge.sender.name }}</p>
                                                <span>Challenger</span>
                                            </div></div>
                                        <h5>Total votes: {{ challengerVoteCount }}</h5>
                                    </div>
                                    <div class="chalng-vid-box" v-for="(exercise, index) in challenge.challenge.exercises" @key="exercise.id">
                                        <video  class="img-fluid img-thumbnails"
                                                controls
                                                :ref="`video${index}-${challenge.sender.id}`"
                                               @loadedmetadata="seconds_to_days_hours_mins_secs_str(index, challenge.sender.id)"
                                                v-if="exercise.uploadedVideos && exercise.uploadedVideos[challenge.sender.id]" :src="exercise.uploadedVideos[challenge.sender.id]"></video>
                                        <div class="d-flex flex-row justify-content-between mt-1">
                                            <div class="flex-column">
                                                <p>{{ exercise.title }}</p>
                                                <h5>Reps: {{ exercise.repeat }}</h5>
                                            </div>
                                            <span>Time: <span v-if="exercise.time">{{ exercise.time }}</span></span>
                                        </div>
                                    </div><!--chalng video box end-->
                                    <div  v-if="!userData">
                                        <button @click.prevent="declareWinner(challenge.sender.id)" v-if="!challenge.sender_result && !challenge.recipient_result" class="cnt-btnn">Declared Winner</button>
                                    </div>
                                </div><!--col end-->
                            </div>
                        </div>
                        <div  v-if="!userData">
                            <div class="polling-history-details-bg" v-if="challenge.sender_result && challenge.recipient_result">
                                <div class="position-relative">
                                    <img :src="challenge.recipient.image" v-if="challenge.recipient_result === 'WINNER'" class="main-bg" :alt="challenge.recipient.name">
                                    <img :src="challenge.sender.image" v-if="challenge.sender_result === 'WINNER'" class="main-bg" :alt="challenge.sender.name">
                                    <img :src="`${base_url}/images/polling-history-details-_03.png`" class="trophy-img" alt="">
                                </div>
                                <h6 v-if="challenge.recipient_result === 'WINNER'">{{ challenge.recipient.name }}</h6>
                                <h6 v-if="challenge.sender_result === 'WINNER'">{{ challenge.sender.name }}</h6>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['challengeData'],
        data(){
            return {
                base_url: window.base_url,
                isLoading: true,
                challenge: {},
                userData: false,
            }
        },
        mounted() {
            this.loadPoolingRequest();
        },
        methods: {
            seconds_to_days_hours_mins_secs_str(exerciseIndex, userid)
            {
                const video = this.$refs[`video${exerciseIndex}-${userid}`][0];
                var seconds = (video.duration);
                var days     = Math.floor(seconds / (24*60*60));
                seconds -= days    * (24*60*60);
                var hours    = Math.floor(seconds / (60*60));
                seconds -= hours   * (60*60);
                var minutes  = Math.floor(seconds / (60));
                seconds -= minutes * (60);
                let d = ((0<days)?(days+" day, "):"");
                let h = ((0<hours)?(hours+" hours, "):"");
                let m = ((0<minutes)?(minutes+" min, "):"");
                let s = ((0<seconds)?(Math.floor(seconds)+" sec"):"");
                // this.challenge.challenge.exercises[exerciseIndex].time = ;
                video.nextElementSibling.getElementsByTagName('span')[0].innerHTML = "Time: " + d + h + m + " " + s + ""
            },
            loadPoolingRequest(){
                if(this.challengeData) {
                    this.challenge = this.challengeData;
                    this.userData = true;
                    this.isLoading = false;
                } else {
                    this.isLoading = true;
                    axios.get(`/pooling-requests/${this.$route.params.id}`)
                        .then(data => {
                            this.isLoading = false;
                            this.challenge = data.data;
                            this.challenge.challenge = JSON.parse(this.challenge.challenge);
                        });
                }
            },
            declareWinner(id)
            {
                this.$dialog.confirm("Are you sure to declare him winner").then(dialog => {
                    axios.post(`/pooling-requests/declare-result`,{
                        challenge_id: this.challenge.id,
                        winner_id: id
                    }).then(d => {
                        this.$toastr.success('Declaration is successful', 'Success', {});
                        dialog.close();
                    }).catch(d => {
                        dialog.close();
                    });
                })
            }
        },
        computed: {
            challengerVoteCount () {
                return this.challenge.votes.filter(v => v.vote_for === this.challenge.sender.id).length;
            },
            opponentVoteCount () {
                return this.challenge.votes.filter(v => v.vote_for === this.challenge.recipient.id).length;
            }
        }
    }
</script>
