@import url('https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import url("../../../resources/app-assets/css/vendors.css");
@import url("../../../resources/app-assets/vendors/css/forms/icheck/icheck.css");
@import url("../../../resources/app-assets/css/app.css");
@import url("../../../resources/app-assets/vendors/css/forms/icheck/custom.css");
@import url("../../../resources/app-assets/css/core/menu/menu-types/vertical-menu.css");
@import url("../../../resources/app-assets/css/plugins/extensions/toastr.min.css");
@import url("../../../resources/app-assets/css/pages/login-register.css");
@import url("../../../resources/app-assets/css/style.css");
@import url("../../../resources/app-assets/vendors/css/tables/datatable/datatables.min.css");
@import url("../../../resources/app-assets/vendors/css/tables/datatable/datatables.min.css");


td button.btn.dropdown-toggle {
  padding: 5px 10px !important;
}

.admin-top-red-nav ul li input:checked + label {
  color: #fff !important;
  background: #ee2c48;
}
.admin-top-blue-nav ul li input:checked + label {
  color: #fff !important;
  background: #293492;
}
.admin-top-red-nav ul li label{
  color: #cccccc;
  font-size: 16px;
  margin: 0px;
  padding: 5px 30px;
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  border: 1px solid #f8f8f8;
  border-radius: 6px;
  cursor: pointer;
}
.admin-top-blue-nav ul li label{
  color: #cccccc;
  font-size: 16px;
  margin: 0px;
  padding: 5px 20px;
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  border: 1px solid #f8f8f8;
  border-radius: 6px;
  cursor: pointer;
}

.loading-container .loading {
  background: none !important;
  box-shadow: none !important;
}

.loading-container .loading-backdrop {
  opacity: .75 !important;
  background-color: white !important;
}