<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>User Profile</h1>
                                        <div class="admin-user-profile-top" v-if="!isLoading">
                                            <div class="row align-items-center">
                                                <div class="col-md-3 col-sm-12">
                                                    <div class="admin-user-profile-top-image-main">
                                                        <img :src="profileImage(user.image, user.name)" :alt="user.name" />
                                                        <h6>{{ user.name }}</h6>
                                                        <span>{{ user.email }}</span>
                                                    </div>
                                                </div>
                                                <!--col left end-->
                                                <div class="col-md-7 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-12">
                                                            <div class="admin-user-profile-top-boxs">
                                                                <span>Level</span>
                                                                <h5>{{ user.state.level }}</h5>
                                                            </div>
                                                        </div>
                                                        <!--col end-->
                                                        <div class="col-md-3 col-sm-12">
                                                            <div class="admin-user-profile-top-boxs">
                                                                <span>Challenges</span>
                                                                <h5>09</h5>
                                                            </div>
                                                        </div>
                                                        <!--col end-->
                                                        <div class="col-md-3 col-sm-12">
                                                            <div class="admin-user-profile-top-boxs">
                                                                <span>Total Points:</span>
                                                                <h5>{{ user.state.points }}</h5>
                                                            </div>
                                                        </div>
                                                        <!--col end-->
                                                        <div class="col-md-3 col-sm-12">
                                                            <div class="admin-user-profile-top-boxs">
                                                                <span>Votes:</span>
                                                                <h5>{{ user.state.challenge_votes }}</h5>
                                                            </div>
                                                        </div>
                                                        <!--col end-->
                                                    </div>
                                                    <!--row end-->
                                                </div>
                                                <!--col end-->
                                                <div class="col-md-2 col-sm-12">
                                                    <div class="admin-user-profile-top-boxs-logo">
                                                        <img :src="`${base_url}/images/User-Profile_03.png`" :alt="user.name" />
                                                        <h5>{{ user.state.path }} Path</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--row end-->
                                        </div>
                                        <!--admin-user-profile-top end-->
                                        <div class="admin-top-red-nav">
                                            <ul>
                                                <li :class="{active: currentTab === 'details'}">
                                                    <a href="#" @click.prevent="changeTab('details')">Details</a>
                                                </li>
                                                <li :class="{active: currentTab === 'challenge'}">
                                                    <a href="#" @click.prevent="changeTab('challenge')">Challenges</a>
                                                </li>
                                                <li :class="{active: currentTab === 'friends'}">
                                                    <a href="#" @click.prevent="changeTab('friends')">Friends</a>
                                                </li>
                                            </ul>

                                            <router-link :to="{name : 'users.edit', params: {id: user.id}}" class="closed-span float-right">Edit</router-link>
                                        </div>
                                        <!--admin top red nav-->
                                        <div class="clearfix"></div>

                                        <div class="row" v-if="currentTab === 'friends'">
                                            <div class="col-lg-3 col-md-6 col-sm-12" v-for="(friend,index) in friends" v-bind:key="index">
                                                <div class="chalng-members-box admin-user-frinds-boxs box-shadow-1" style="cursor: pointer" @click="redirectTo(friend.id)">
                                                    <img :src="profileImage(friend.image, friend.name)" alt="">
                                                    <div class="flex-column">
                                                        <p>{{ friend.name }}</p>
                                                        <span>Level: {{ friend.state.level }}</span>
                                                        <span>Path: {{ friend.state.path }}</span>
                                                    </div>
                                                </div>
                                            </div><!--col end-->
                                        </div>

                                        <div class="user-profile-bottom-fftp" v-if="currentTab === 'challenge'">
                                            <div class="user-profile-challenges">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                        <div class="employ-top-boxs">
                                                            <h5>Initiated</h5>
                                                            <span>{{ initatedCount }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                        <div class="employ-top-boxs">
                                                            <h5>Accepted</h5>
                                                            <span class="bg-danger">{{ acceptedCount }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                        <div class="employ-top-boxs">
                                                            <h5>Completed</h5>
                                                            <span>{{ completedCount }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                        <div class="employ-top-boxs">
                                                            <h5>Verification</h5>
                                                            <span class="bg-danger">{{ verificationCount }}</span>
                                                        </div>
                                                    </div>
                                                </div><!--row end-->
                                            </div>

                                            <h1>All Challenges</h1>
                                            <div class="row" v-if="user.challenges">
                                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2" v-if="user.challenges.length === 0">
                                                    <div class="alert">
                                                        <p>No challenge found</p>
                                                    </div>
                                                </div>
                                                <div style="cursor: pointer" @click="redirectToChallengePage(challenge.challenge_id)" class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2" v-for="challenge in user.challenges" v-if="user.challenges.length">
                                                    <div class="user-profile-btm-box">
                                                        <div class="top-head">
                                                            <h3>{{ challenge.challenge_data.title }}</h3>
                                                            <div class="d-flex flex-row align-items-center justify-content-between">
                                                                <div class="flex-column">
                                                                    <img :src="challenge.sender.image" class="pro-img" alt="">
                                                                    <span>{{ challenge.sender.name }} {{ challenge.sender.id }}</span>
                                                                </div>
                                                                <span>VS</span>
                                                                <div class="flex-column">
                                                                    <img :src="challenge.recipient.image" class="pro-img" alt="">
                                                                    <span>{{ challenge.recipient.name }} {{ challenge.id }}</span>
                                                                </div>
                                                            </div><!--d flex end-->
                                                        </div>
                                                        <span class="active-span">{{ statuses[challenge.status] }}</span>
                                                        <div class="p-1">
                                                            <h4><span>Exercise</span> {{ challenge.challenge_data.title }}</h4>
                                                            <div class="d-flex text-center justify-content-around">
                                                                <span class="date-time"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                                    <timer-counter :starttime="challenge.created_at" :endtime="getendtime(challenge.created_at, challenge.challenge_data.duration)"
                                                                                   trans='{
                                                                                         "day":"Day",
                                                                                         "hours":"Hours",
                                                                                         "minutes":"Minuts",
                                                                                         "seconds":"Seconds",
                                                                                         "expired":"Challenge has been expired.",
                                                                                         "running":"Left.",
                                                                                         "upcoming":"Till start of event.",
                                                                                         "status": {
                                                                                            "expired":"Expired",
                                                                                            "running":"Running",
                                                                                            "upcoming":"Future"
                                                                                   }}'
                                                                    ></timer-counter>
                                                                </span>
                                                                <span class="date-time"><i class="fa fa-calendar" aria-hidden="true"></i> Date {{ challenge.created_at.substr(0, 10) }}</span>
                                                            </div>
                                                        </div>
                                                    </div><!--box end-->
                                                </div><!--col end-->
                                            </div>
                                        </div>

                                        <div class="row" v-if="currentTab === 'details'">
                                            <div class="col-xl-6 col-lg-6 col-md-12">
                                                <div class="row user-profille-inner-row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <p><i class="fa fa-user-circle" aria-hidden="true"></i> User ID: </p>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12"><span>{{ user.id }}</span></div>
                                                </div>
                                                <!--inner row end-->
                                                <div class="row user-profille-inner-row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <p><i class="fa fa-envelope" aria-hidden="true"></i> Email: </p>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12"><span>{{ user.email }}</span></div>
                                                </div>
                                                <div class="row user-profille-inner-row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Address: </p>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12"><span>{{ user.address }}</span></div>
                                                </div>
                                                <div class="row user-profille-inner-row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Country: </p>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12"><span>{{ user.country }}</span></div>
                                                </div>
                                                <div class="row user-profille-inner-row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> State: </p>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12"><span v-if="user.state">{{ user.state.path }}</span></div>
                                                </div>
                                                <div class="row user-profille-inner-row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> City: </p>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12"><span>{{ user.city }}</span></div>
                                                </div>
                                                <div class="row user-profille-inner-row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Postal Code: </p>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12"><span>{{ user.postal_code }}</span></div>
                                                </div>

                                                <div class="row user-profille-inner-row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <p><i class="fa fa-phone" aria-hidden="true"></i> Phone: </p>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12"><span>{{ user.contact }}</span></div>
                                                </div>
                                                <!--inner row end-->
                                                <div class="row user-profille-inner-row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <p><i class="fa fa-user" aria-hidden="true"></i> Member Since: </p>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12"><span>{{ user.created_at }}</span></div>
                                                </div>
                                                <!--inner row end-->
                                            </div>
                                            <!--left col main end-->
                                            <div class="col-xl-6 col-lg-6 col-md-12">
                                            </div>
                                            <!--left col end-->
                                        </div>
                                    </div>
                                    <!--col  end-->
                                </div>
                                <!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>

    import TimerCounter from "../../../compoments/TimerComponent";

    export default {
        components: {
            TimerCounter
        },
        data(){
            return {
                statuses: window.statuses,
                starttime: new Date(),
                endtime: new Date(),
                base_url: window.base_url,
                isLoading: true,
                currentTab: 'details',
                user: {},
                friends: []
            }
        },
        mounted() {

            this.endtime.setHours(this.starttime.getHours()+1);

            this.currentTab = this.$route.params.tab;
            this.getUser();

            if(this.currentTab === 'friends')
                this.loadFriends();
        },
        methods: {
            getendtime(created_at, duration){
                let d = new Date(created_at);
                d.setHours(d.getHours() + duration);
                return d;
            },
            getUser(){
                this.isLoading = true;
                axios.get(`/users/${this.$route.params.id}`)
                    .then(({data}) => {
                        this.user = data;
                        this.isLoading = false;
                    });
            },
            loadFriends(){
                this.isLoading = true;
                if(this.currentTab !== 'friends')
                    return;
                axios.get(`/users/${this.$route.params.id}/friends`)
                    .then(({data}) => {
                        this.friends = data;
                        this.isLoading = false;
                    });
            },
            changeTab(tab)
            {
                if(tab === this.currentTab)
                    return;
                this.currentTab = tab;
                this.$router.push({name: 'users.show', params: {id: this.user.id, tab: tab}});
            },
            redirectTo(userId)
            {
                this.$router.push({ name: 'users.show', params: { id: userId, 'tab': 'details' } })
            },
            redirectToChallengePage(challengeId)
            {
                this.$router.push({ name: 'user.challenges.show', params: { id: challengeId, 'userId': this.user.id } })
            }
        },
        computed: {
            initatedCount(){
                if(!this.user.challenges)
                    return 0;
                return this.user.challenges.filter(c => c.sender_id === this.user.id).length;
            },
            acceptedCount(){
                if(!this.user.challenges)
                    return 0;
                return this.user.challenges.filter(c => c.sender_id === this.user.id && c.status === 1).length;
            },
            completedCount(){
                if(!this.user.challenges)
                    return 0;
                return this.user.challenges.filter(c => c.status === 5).length;
            },
            verificationCount(){
                if(!this.user.challenges)
                    return 0;
                return this.user.challenges.filter(c => c.status === 3).length;
            },
        },
        watch: {
            'currentTab' () {
                if(this.currentTab === 'friends')
                    this.loadFriends();
            },
            '$route.params.id' () {
                if(this.currentTab.toLowerCase() !== 'details')
                    this.currentTab = 'details';
                this.getUser();
            }
        }
    }
</script>
